[2018-04-03 15:16] TimVanMourik opened #1 "Welcome to this repository!"
Dear Gitcoin users,

Welcome to this new project! It is still in the very early stages of development and only the plumbing has really been done, but I intend to grow it out quickly. In short, this is going to be a web application to construct data analysis pipeline and a more detailed description can be found in the [ReadMe](/TimVanMourik/GiraffeTools/blob/master/README.md). Initially it's target

[2018-04-06 09:07] TimVanMourik opened #2 "GitHub repository recognition"
The goal of this project is to go to a project link, https://www.giraffe.tools/$username/$repository/$branch, and recognise that indeed this is a github repository that it contains a GIRAFFE.yml file. This issue is for implementing the logic, and you may forget about the layout of the page.

To complete this bounty, I would like you to design a page that:
* Recognises a https://www.giraffe.tools/$

[2018-04-06 12:10] TimVanMourik commented on #2
This was some very good and fast work from @bakaoh. Thanks for the help!

[2018-04-06 14:46] TimVanMourik opened #4 "File parsing"
After #2, a link to, for example, https://www.giraffe.tools/TimVanMourik/SomeGiraffeExample/master,  the repository is recognised to (not) contain a GIRAFFE.yml file. From here it needs to:
* Read this GIRAFFE.yml file

The structure is currently very simple. The root variable is 'tools' that lists a set of tools. For now, the only relevant one is 'porcupine', but the solution needs to allow for m

[2018-04-08 02:07] eemp commented on #4
See https://github.com/TimVanMourik/GiraffeTools/pull/5/files

[2018-04-09 09:45] TimVanMourik commented on #4
Thanks @eemp! Looks great, if you could the last tiny bit as mentioned in #5 I'd be much obliged. Please claim the bounty and I'll pay it out!

[2018-04-09 10:02] TimVanMourik opened #7 "Foundation of GitHub OAuth integration"
Currently, the project recognises if a GitHub project is intended to be a Giraffe project by looking for a GIRAFFE.yml file in the root of the repo (see #3 and #4). The visualisation of these files is on its way, and when it is done, I would like to be able to commit and push directly to a repository. In order to accomplish this, some OAuth link with GitHub needs to be established.

This issue is

[2018-04-09 12:48] TimVanMourik opened #8 "Set up continuous integration and codecov"
Any decent package needs some continuous integration. I just added a badge for TravisCI and CodeCov to the ReadMe and initial setup of both, but they only cover the bare minimum

* Now the repo is still small, it should still be possible to write a set of tests that covers the larger part of the repo
  * make the code coverage go up to 90% +
  * or explain why some parts may not be covered

[2018-04-10 11:13] eemp commented on #4
Sure, I saw the TODO comments and I can make the tweaks.  I threw in error checking for the giraffe config read but chose not to for the tool file read which seemed incomplete.  I didn't realize you had stubbed out a place for GiraffeConfig in apps.py - I will move the work from utils.  Still getting a better understanding of repo and your roadmap :)

[2018-04-10 11:51] TimVanMourik commented on #4
Thanks! Agreed, error cheking for the tool is not necessary at this stage. Yes, absolutely, I guess I'm in the same process of getting such better understanding and I'm working on a roadmap :)

[2018-04-10 12:27] #8 closed

[2018-04-11 02:50] eemp commented on #4
I created https://github.com/TimVanMourik/GiraffeTools/pull/9 that adds on a check for invalid repos or branches.  Having looked into django further, I am not quite following how `giraffe/utils/GiraffeConfig.py` can be moved to `giraffe/apps.py` since the apps.py is the actual app configuration override whereas `GiraffeConfig.py` is intended as an interface to GIRAFFE.yml.  Perhaps, utils/GiraffeC

[2018-04-11 16:00] TimVanMourik commented on #4
Right, I see, I agree with you that both files should not be merged. Instead, the GiraffeConfig is rather a model, so I now put it in models.py and the utility (test) function to utils.py.

[2018-04-13 12:56] TimVanMourik opened #12 "Increase test code coverage"
Currently, the project is still very small and a good code coverage should be attainable. Better start now and keep up I guess.

This issue is for setting up a testing environment. Coverage does not need to go to a hundred, but there needs to be a proof of principle of several things:
* [x] TravisCI already is currently setup in the setup.cfg file. You may make changes to your liking as long as yo

[2018-04-17 09:52] #4 closed

[2018-04-17 11:13] TimVanMourik commented on #7
I made some changes to the code base and to this issue. It is now more concrete and doable. Well worth your time!

[2018-04-17 12:44] TimVanMourik commented on #12
Hi @zoek1, thanks for showing interest! Were you still planning to work on this? Is there anything I can do to help?

[2018-04-17 13:12] TimVanMourik commented on #7
Thanks for working on this and on the pull request #14! I'm still getting a server error 500 though, after logging in. Any ideas?

[2018-04-17 13:39] agni21 commented on #7
You need to provide Authorization callback URL(http://localhost:8000/_github/callback) in github OAuth settings.

[2018-04-17 14:45] TimVanMourik commented on #7
The current callback function is indeed set to https://www.giraffe.tools/_github/callback

[2018-04-17 17:05] TimVanMourik commented on #7
Ok, somehow it's working now! Although nothing has really changed and I'm still puzzled. Anyway, great work! Do you think there's a chance you could resolve the last checkbox? And after that, please claim the bounty!

[2018-04-18 07:30] TimVanMourik opened #16 "[React] Fix dragging on mobile"
At the moment, when you go to https://www.giraffe.tools/porcupine, all elements from the menu can be dragged into the editor. The functionality for this is still rather minimal, but that's not the focus of this issue. The problem is that this dragging behaviour does not work on all mobile devices. Instead, a touch is interpreted as scrolling. This issue is for fixing this.

[2018-04-18 08:29] cryptomental commented on #12
@TimVanMourik a small suggestion. This particular one is slightly underfunded, perhaps that is why you get low response. Market rate for this task is around 5 ETH, which is 2500EUR, I am not joking. From my observation bounties attract people with 1/10 market ratio, therefore with 0.5 ETH bounty you would likely get high response. The project is still in the early stages and I understand that it i

[2018-04-18 08:56] TimVanMourik commented on #12
Thanks for the suggestion @cryptomental. I'm in search of the pot of gold that allows me to pay that kind of money and I'll increase payout as soon as I find it! At the moment I'll have to accept the low response rate.

[2018-04-18 09:44] cryptomental commented on #12
Yes, as discussed on Slack. All the best and fingers crossed!

[2018-04-18 13:43] TimVanMourik commented on #12
I just updated the issue brief to make the scope of this issue much smaller and more concrete!

[2018-04-19 06:48] farhaanbukhsh commented on #1
Hey if no one is working on it I would like to take up the issue

[2018-04-19 08:06] TimVanMourik commented on #1
Hi @farhaanbukhsh ! Please do, but mind you that I intended this issue more as an announcement than an actual job. With the 'winner' being just the most active contributor. So my suggestion is, propose a part of the project as stated in the ReadMe and I'll fund it separately!

[2018-04-19 08:32] bakaoh commented on #1
so, should i stop work on this bounty?

[2018-04-19 08:35] TimVanMourik commented on #1
No, please ignore @gitcoinbot's automated response. And don't be surprised of others also add a 'started'. I guess I'm using gitcoin of the book here.

[2018-04-19 09:00] bakaoh commented on #1
nice, @gitcoinbot can react too

[2018-04-22 07:59] zoek1 commented on #12
Sorry for respond late, i had many work last week. I see the requirente had changed, un a couple hours i'll start with te react test, enzyme it's okay? @TimVanMourik

[2018-04-22 10:11] TimVanMourik commented on #12
Ok, thanks for your reply @zoek1 ! Yes, I changed them to be a bit easier and more concrete. Please go ahead.

[2018-04-22 12:54] vs77bb commented on #1
Don't worry @bakaoh, @gitcoinbot still loves you.

CC @owocki on funny Gitcoin Bot reactions 🙂

[2018-04-23 08:41] TimVanMourik commented on #16
Yes @gitcoinbot , as communicated over Slack with @agni21 , it's still work in progress!

[2018-04-23 22:00] TimVanMourik opened #19 "Configure webpack 4"
The [Porcupine](https://www.giraffe.tools/porcupine) application of this project is a React package that is bundled by webpack. However, the setup is rather rudimentary. For example, no 'production' settings are set up in the configuration. This issue is for modernising the webpack setup.

* [x] Upgrade the webpack version from 3 (^3.10) to the latest 4 point something.
* [x] Add production settin

[2018-04-24 00:48] bscharm commented on #12
@TimVanMourik I submitted a PR here: https://github.com/TimVanMourik/GiraffeTools/pull/20. Should tick all the boxes of things you were looking for. UI tests are not running during Travis build (I don't think) but a simple `npm test` from the root directory will do. Let me know if this works for you.

[2018-04-24 09:27] TimVanMourik commented on #12
Yes, this is great! This is very helpful on itself but also great for a template for future test writing. I added `npm test` to the `.travis.yml` and it is now testing that part as well. Just a last question: when I use `python manage.py test` in the Travis file instead of `pytest`, it [crashes](https://travis-ci.org/TimVanMourik/GiraffeTools/builds/370481008). Any idea why?

Please submit a claim

[2018-04-24 09:38] TimVanMourik commented on #12
*Sorry, you already submitted the claim. It's accepted now!

[2018-04-24 14:27] TimVanMourik opened #21 "View testing"
After #12 (thanks again @bscharm!) the test coverage has significantly increased. But there are still two big red blobs in the [coverage report](https://codecov.io/gh/TimVanMourik/GiraffeTools), being the views of the application.

This issue is for making useful tests for the views of the application:
* [ ] `/app/github/views.py` (3 views)
* [ ] `/app/porcupine/views.py` (1 view)
* [ ] `/app/gira

[2018-04-24 14:32] TimVanMourik commented on #12
@bscharm , if you want I happily reserve #21 for you. I could imagine that one would be especially easy for you after this work. But I could also imagine you're fed up with test writing... 😀

[2018-04-24 17:46] nathanperkins commented on #21
Hi @TimVanMourik!

Glad to be working with you on this issue 😀

On my first peek, I see that some of these views might depend on responses from third-party APIs. Would it be okay for me to assume that these APIs are well-tested already and generate my own responses using mock?

I'll work to spin the app up and write some tests to pin down the functionality that I observe to my best. Is there any s

[2018-04-24 20:33] TimVanMourik commented on #21
Hi Nathan, great that you wanna help out! Just a quick note (see last comment of #12 ), I offered 'dibs' on this bounty to @bscharm for, say, 24 hours from issuing, because he delivered some really good work on a testing issue 1.0. If he doesn't want it/doesn't respond, it's all yours to work on!

The GitHub views depend on third party APIs, that's right. If I understand you correctly, yes, you ma

[2018-04-25 04:10] bscharm commented on #21
@TimVanMourik @nathanperkins while I would be happy to work on this issue, I'm also happy to have more people participate in the Gitcoin ecosystem, so Nathan if you would like to work on this feel free 😄

[2018-04-25 04:48] bscharm commented on #12
@TimVanMourik when you call `django_heroku.settings()` in your `base.py` settings file, it is inadvertenly reading the `CI` environment as true (most likely set by Travis), which overrides Django's `DiscoverRunner` with `django-heroku`'s `HerokuDiscoverRunner`.

from `django_heroku.core`:
[code]
Later down the line, this runner tries to clean up databases by running a script that is Postgres speci

[2018-04-25 09:16] TimVanMourik commented on #21
Very generous, thanks!
@sea51930, I see that you also listed as 'started work'. Could you please drop a comment here? In general I somewhat prefer a fist-come-first-serve basis instead of a race-for-the-prize basis. Especially after someone already announced their scheduled timeline.

[2018-04-25 12:06] TimVanMourik commented on #12
Yes, perfect sense, thank you! I got confused by the database part and didn’t realise this was the underlying problem.

[2018-04-25 12:07] #12 closed

[2018-04-25 14:58] nathanperkins commented on #21
Is there a way to lock an issue so that only one person can work on it? I can't spend significant time on an issue knowing that somebody else might complete it first. Especially since a race means I will not be trying to do my best work.

If GitCoin doesn't have a way to claim exclusivity on an issue, that seems like a major missing feature :(

[2018-04-25 15:40] owocki commented on #21
hey -- per gitcoinbots comment above, @nathanperkins should be the person who is gonna work on this.

@TimVanMourik is that okay with you?

I strongly agree.  We have a larger discussino of this happening here https://github.com/gitcoinco/gitcoinco/issues/9

[2018-04-25 20:10] TimVanMourik commented on #21
Agreed @owocki, @nathanperkins. Like I said in the previous comment, I’m not a big fan of racing. My main reason is that it creates a competitive instead of a collaborative culture.

Bottom line: yes, @nathanperkins, it’s yours. @sea51930, how about this: find another similar job for the platform and I’ll pay out the same! Same offer to everyone else by the way 😃

[2018-04-25 23:11] nathanperkins commented on #21
Thanks Tim! I will look at it this weekend.

[2018-04-25 23:12] nathanperkins commented on #21
Thanks @TimVanMourik I will look at it this weekend :)

[2018-04-26 10:03] TimVanMourik opened #25 "Smoothen out drag & drop"
After #16, dragging and dropping now works both on mobile and on PC. There are still some things to straighten out though:
* [x] Some code for opacity changes has been written, but doesn't work yet.
* [x] Make sure that TravisCI doesn't complain about this (currently commented out) test in [this file](https://github.com/TimVanMourik/GiraffeTools/blob/master/app/porcupine/js/__tests__/PaneElement.t

[2018-04-26 10:17] TimVanMourik commented on #16
Thanks, great work. This definitely solves the problem and the dragging and dropping now works on mobile. I got some minor comments that need to be straightened out. For this, I made a new issue #25 that I happily reserve for you if you want.

[2018-04-26 10:25] agni21 commented on #16
Thanks, I already had some of the items in #25 on my mind.

[2018-04-26 10:52] TimVanMourik commented on #19
Hi @neuroleptic! Geat to see that you’re interested in working on this. Could you please drop a comment about your thoughts or timeline on this issue? Thanks!

[2018-04-26 13:57] neuroleptic commented on #19
Hey @TimVanMourik . I'm going to start working on this today. It shouldn't take too long, but I will keep you updated if anything changes.

[2018-04-27 23:27] TimVanMourik commented on #19
Thanks for the communication @neuroleptic, no problem. Hoping to working with you some time soon on another issue. And it looks like it’s picked up by someone else, welcome @row2k!

[2018-04-29 20:46] TimVanMourik commented on #21
Hi @nathanperkins, how's it going!  Any progress yet?

[2018-04-29 21:13] nathanperkins commented on #21
Hi Tim!

I have earmarked a few hours to look at this later tonight so I will hopefully have some progress or I’ll be able to step back for somebody else to take care of it.

I’ll keep you posted!
Nathan

Sent from my iPhone

[2018-04-30 07:59] nathanperkins commented on #21
Hi @TimVanMourik!

I got some initial work done on some simple tests for giraffe.views.index. Let me know if you have any feedback. I know some projects like their views to be tightly tested, whereas some projects just like to confirm that a few elements are in place. The index fairly is simple so I went simple.

https://github.com/nathanperkins/GiraffeTools/tree/view-testing-21

I think it will t

[2018-05-01 16:25] TimVanMourik commented on #21
Hi @nathanperkins. Thanks for the work! It's a non-urgent issue, so there's no real hurry. But I would say not more than two weeks from now, does that sound reasonable?

With regard to the content: I haven't tried it out but yes, this looks good. I was indeed looking for a way to test the logging in as you've implemented with the handles.

Yes, there are differences in preference in terms of testi

[2018-05-03 08:38] TimVanMourik commented on #19
@row2k, Are you still planning to work on this? Otherwise @neuroleptic may still be interested. Without notification, I'll open the bounty up within a day.

[2018-05-04 08:29] TimVanMourik opened #28 "Send slack invitation"
As noted by @agni21, the ReadMe says "Join us on Slack!", but this doesn't really work yet. The thing is, Slack doesn't do publicly available links, and online allows invites by email. This can be automated though. This issue is for doing so.
_Suggestion_: start from GitCoin's Slack page (thanks @owocki! 😄 )

* [ ] Make a basic page that sends an invite to the Slack group: https://giraffetools.sla

[2018-05-04 12:10] TimVanMourik commented on #1
Hi all!

First of all, thanks so much for helping me kickstart this project, @everyone! In the last month, I posted almost a dozen bounties. All of them were, some still in progress, and some were completed within mere hours, by people from all over the world. My Gitcoin experiment was definitely a success, so I'll keep posting bounties to further #BUIDL the platform.

I'd like to pay out the boun

[2018-05-04 12:17] TimVanMourik commented on #1
Sidenote:
@owocki, the @gitcoinbot succesfully removed someone from the 'work started' list, but did not update the message. I believe that is the case when I do this manually, so it might be an idea to do it here too.

@vs77bb, I think this about (belatedly) answers your question. Indeed it would have been nice for visibility to have it listed as 'Open' for multiple contributors.

[2018-05-04 13:11] #28 closed

[2018-05-04 15:35] #1 closed

[2018-05-05 13:07] agni21 opened #30 "Make text in Porcupine Sidebars clickable"
## Expected Behaviour
Whole text in sidebar should be clickable for better user experience.
## Current Behaviour
An icon on the right was clickable which is breaking after the recent update.
## Possible Solution
Wrap whole text in `<a>` tag instead of just the icon.

[2018-05-06 14:58] klaylay commented on #25
😁

[2018-05-07 09:04] TimVanMourik commented on #30
Ahh, I've been sloppy with the bootstrap 4 update. Thanks for the quick solution!

[2018-05-07 10:01] #25 closed

[2018-05-07 12:22] TimVanMourik opened #32 "[React] Copy-paste jobs: Fabrik to Porcupine"
The Giraffe website will be a general tool for creating data analysis repositories on GitHub. An important part of this is the Porcupine workflow editor. This editor is primarily based on [my earlier C++ application](https://timvanmourik.github.io/Porcupine), but a similar editor exists as a web application, [fabrik](http://fabrik.cloudcv.org)*.

The current porcupine version is largely based on t

[2018-05-07 12:32] TimVanMourik opened #33 "[React] Pretty zoom functionality in Porcupine"
What the says. The core of this issue is easy: copy the zoom click-buttons from fabrik into the porcupine application. Only please don't use [ and ] as zoom in/out, but just respond to + and - key presses. Additionally, when a workflow is loaded, the zoom level needs to be automatically adjusted.

* [ ] Introduce zoom buttons to porcupine, equivalent (not necessarily identical) to fabrik's.
  * [

[2018-05-07 12:33] TimVanMourik opened #34 "[React] Hover event on node ('layer' in fabrik terms), provide a tooltip"
This issue in part depends on the output of #35 (and maybe #37). The core idea is simple: I would like to hover over a node and see a tooltip of the function. The tooltip should contain show all parameter _that have values assigned to them_. This is what is done in #35, hence the dependency. The tooltip may look like the one in fabrik and be copy-pasted in structure and looks. Please copy useful b

[2018-05-07 12:34] TimVanMourik opened #35 "[React] Show a parameter pane, on clicking on a node."
I would like to click on a node and see a parameter pane that displays all parameters. This is almost identical to the implementation in Fabrik and the larger part of the implementation can likely be copy-pasted. This issue is for:

* [x] Copying in the useful bits of the parameter pane. (`/fabrik/js/setParams.js`), but please call it `parameterPane.js` instead
  * [x] Please rename fabrik's conce

[2018-05-07 12:35] TimVanMourik opened #36 "[React] Connect links between nodes in porcupine app"
This gets relevant when the ports (dots next to parameters) are introduced to the nodes (#37). The plan is to draw connections from output ports to input ports on other nodes. For this, the fabrik application uses some jplumb code. A large part of this can be copied, but I do believe it's a somewhat older version. I much prefer staying up-to-date.
* [x] Make connections possible. The connections s

[2018-05-07 12:39] TimVanMourik opened #37 "[React] A list of parameters for each node."
In the porcupine section of this app, all the modules (nodes) that can be dragged into the editor don't really do much yet. The plan is to have nodes look like the following:
* A name
* A list of parameters
* A surrounding box that scales with the parameters
* Dots on the left or the right, depending on the parameter being input or output. These dots need to be connected, but that's a job for #36.

[2018-05-07 12:40] TimVanMourik opened #38 "[React] Load porcupine save file"
Currently, a porcupine file is automatically loaded up when you go to a project link, e.g. [this one](https://www.giraffe.tools/gh/Timvanmourik/somegiraffeexample/master/porcupine). The way in which this is done work, but is a little bit ugly and at the moment incomplete.

This is probably the last of the streak of issues, as it requires loading nodes, parameters (#37), links (#36), and parameters

[2018-05-07 12:41] TimVanMourik opened #39 "Make sure that the nav bar is visible above the porcupine React app"
The main thing that I would like is to have the nav bar visible also in the porcupine React app. Now I'm expecting that's not terribly difficult, so while we're at it, let's do some general clean-up. I'd like to do some html template inheritance and apply good ol' DRY principle (Don't Repeat Yourself). In this issue, I'd like the following:

* [x] Make sure this is also works in nav bar visible in

[2018-05-07 13:27] iamonuwa commented on #32
Hello @TimVanMourik am interested in #39 and #36 for now

[2018-05-07 13:49] iamonuwa commented on #19
Hi, @TimVanMourik is this task still open?

[2018-05-07 13:54] TimVanMourik commented on #19
Yes, please take it! Because of a Gitcoin bug, I cannot remove people for nonresponsiveness. They've been notified of this. But the 'start work' button still works I believe, so please hit it! 🙂

[2018-05-07 13:58] TimVanMourik commented on #32
Cool, let me write those specifications first. I'll @mention you in the description. I have to say though, #36 is  about connection dots that are only created by #37, so that needs to resolved first.

[2018-05-07 17:36] maryam21 commented on #32
Hi @TimVanMourik , I'd like to work on #34 .

[2018-05-07 17:54] nathanperkins commented on #21
Hi @TimVanMourik,

Sorry for not responding on this earlier. I had two midterms last weekend so I was concentrating all my efforts on studying for those.

I'm planning to work on this over the coming weekend but I can drop it if I've lost my status on this. If so, I'll submit the work I've done as a PR and you can have that for free :)

Best,
Nathan

[2018-05-07 18:08] ozgunbal commented on #34
I'm volunteer for this issue.

[2018-05-07 18:09] TimVanMourik commented on #21
Hi @nathanperkins, thanks for your message. No worries, I hope your midterms went fine. My initial statement still stands, this weekend is fine. Sorry for @gitcoinbot’s rude behaviour, he automatically removed you. Please hit the ‘start work’ button again!

[2018-05-08 04:13] vs77bb commented on #19
Hi @TimVanMourik, we're looking at why you don't have 'Stop Work' functionality here as a funder. cc @mbeacom @owocki 🤔

[2018-05-08 09:56] TimVanMourik commented on #19
Hi @iamonuwa ! Thanks for the submission. Just one question: do we really need the 'HtmlWebpackPlugin'? I don't see the use and the index.html that it generates feels like an unnecessary addition to the repo. Could you explain what people normally use it for?

[2018-05-08 10:00] TimVanMourik commented on #19
Let's see, also if my NODE_ENV is set to development, `npm run build` sets it to production. So how I do I run this in development mode?

[2018-05-08 12:41] TimVanMourik commented on #19
@owocki, @vs77bb, I just paid out the bounty to @iamonuwa. I did discover a small oddity: apparently a single user can claim it multiple times. I'm not sure if that's intended.

[2018-05-08 12:42] #19 closed

[2018-05-08 14:58] owocki commented on #19
yeah its meant to allow users to submit a new PR link if that information changes.. but i agree its a little confusing

[2018-05-08 15:52] TimVanMourik commented on #39
Sorry, I wasn't clear about that. That's in the Gitcoin code base
https://github.com/gitcoinco/web/tree/master/app/retail/templates

[2018-05-08 15:59] iamonuwa commented on #39
Thank you

[2018-05-08 22:15] garyaka commented on #32
Hi can I work on 33 and what else is not taken yet?

[2018-05-08 23:26] garyaka commented on #33
I'd like to work on this

[2018-05-09 05:07] agni21 commented on #36
I would like to take up this one along with #38

[2018-05-09 07:58] bakaoh commented on #35
@TimVanMourik -- i've submited a WIP, i'm waiting for #37 finish to continue working

[2018-05-09 13:00] TimVanMourik commented on #33
Thanks @garyaka! I've updated the brief and posted a bounty on it. If it's still something you're intersted in, please hit te 'start work' button. If it's not your thing after all, let me know such that others can claim it.

[2018-05-09 13:36] TimVanMourik commented on #32
Guys, thank you very much! I did not expect so many people on such short notice, so I'm a bit slow with updating the briefs on all issues. Although that's done now. Please tell me if anything is unclear. Let's see how to work out the interdependencies (mainly on #37, no pressure @arun1595 😉) and thanks @bakaoh for the first initial submission.

[2018-05-09 13:45] TimVanMourik commented on #36
Thanks @agni21! I added funding to the bounty. Please hit the 'start work' button 🙂

[2018-05-09 13:48] TimVanMourik commented on #33
Hi @bakaoh! I really appreciate your enthusiasm, but kinda reserved this one for @garyaka (see conversation) if you don't mind. But if @garyaka doesn't respond within ~24 hours or doesn't want it, it's all yours!

[2018-05-09 14:07] bakaoh commented on #33
Sure, i will stop working ^^

[2018-05-09 21:07] garyaka commented on #33
I'll let him do it. I think this one I'll have to do c++ and I haven't touched it in a while

[2018-05-09 21:43] TimVanMourik commented on #33
Ok, thanks for the message @garyaka. Please hit the ‘start work’ button again, @bakaoh 🙂

[2018-05-10 03:15] agni21 opened #44 "Bug in Porcupine"
**Describe the bug**
Nodes for 2nd element in groups can be duplicated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/porcupine'
2. Drag in the 2nd element of any group
3. Drag in few more elements from same group
4. Drag in the 2nd element again and try moving the resulting Node

**Screenshots**
![bug](https://user-images.githubusercontent.com/19343686/39850070-1b1aa56e-542d-11e8-

[2018-05-10 04:06] bakaoh commented on #33
Thanks @garyaka

[2018-05-10 12:36] #33 closed

[2018-05-10 12:42] TimVanMourik commented on #33
Great quick work, as always @bakaoh! Thanks 😄 Bounty's being paid out!

[2018-05-10 13:42] TimVanMourik commented on #44
Hi @agni21! Yes, I noticed this a while ago, but forgot to make an issue out of it. Basically the problem is: whenever you drag a new node in, all nodes with the same name are moved to that same location. I'll look into it! Depending on if I can readily find the problem + fix, I'll post a bounty :)

[2018-05-10 14:07] TimVanMourik opened #46 "Adding in a node moves all others of the same type to that location"
**Describe the bug**
Adding in any node moves all others of the same type to that location.
This is a slightly more precise description of the bug as pointed out by @agni21 in #44.

**To Reproduce**
1. Drag any node into the /porcupine editor
2. And another one of the same type.
3. The first one seems to disappear, but in reality is moved to the location of the second one.

**Expected behavior**
T

[2018-05-10 14:17] TimVanMourik commented on #44
I rewrote the issue in #46 to have a slightly clearer description. If I understand the problem correctly, that is. Please let me know if the bug that you mention here is the same. If it isn't, I'll reopen this issue.

[2018-05-10 14:17] #44 closed

[2018-05-11 06:12] #46 closed

[2018-05-11 15:34] TimVanMourik commented on #37
Hi @arun1595! Is the bounty description clear enough? And could you give a guestimate of the time line on this issue? 🙂

[2018-05-11 15:38] arun1595 commented on #37
@TimVanMourik Yeah, it is. I'll submit a WIP PR today.

[2018-05-11 16:33] nathanperkins commented on #21
Yes, I'm planning to work on this this weekend :)

[2018-05-13 14:55] TimVanMourik commented on #37
Ok, any luck yet? Let me know if you need anything.

[2018-05-13 18:03] iamonuwa commented on #36
@agni21 are you still working on this task 😂

[2018-05-13 18:41] TimVanMourik commented on #36
This task can only be completed after #37 is finished, so please be patient ;)

[2018-05-13 22:47] agni21 commented on #36
yes @gitcoinbot I am still working on this.

[2018-05-14 08:03] #39 closed

[2018-05-14 20:01] nathanperkins commented on #21
Hi @TimVanMourik ,

Reporting back on this, I've had a substantial amount of my time eaten up by school projects and major work projects for the last weekend and the coming weekend. I'm having to spend my weekdays working on my classwork to keep up so it's interfering with my ability to work on this issue.

Would you like me to keep this on my list of things to do? If so, it will probably be about

[2018-05-15 16:28] arun1595 commented on #37
Working on it!

On Tue, May 15, 2018 at 11:15 AM Gitcoin.co Bot <notifications@github.com>
wrote:

[2018-05-15 22:21] TimVanMourik opened #51 "Automatically update React files on changes"
*Long description, but most of the work is already done*

At the moment, the `webpack --watch` doesn't actually seem to watch the files when a javascript file in the porcupine app is updated. The nicest way to implement this is hot reloading, and connect Django and React in this way: https://owais.lone.pw/blog/webpack-plus-reactjs-and-django

Implement this. Quite a headstart has been made in the

[2018-05-16 16:41] #21 closed

[2018-05-18 12:32] TimVanMourik opened #53 "Parameter pane additions + UX"
This issue is for customising the code for the parameter pane. Reasonably simple edits.
* [x] I'd like a `glyphicon glyphicon-globe` icon in the top row that links to the online documentation of the tool. This web address can be found in a `node.title.web_url`.
* [x] Make the 'close pane' button visible.
* [x] Decrease the font size of the title a bit such that you feel it's nice.
* [x] Change the

[2018-05-18 13:28] #37 closed

[2018-05-18 13:38] TimVanMourik commented on #35
Hi @bakaoh! It seems you're in luck, all changes/dependencies on #37 resolved themselves, so work on this one's finished.  I'll pay out the bounty 🙂

[2018-05-18 13:38] #35 closed

[2018-05-18 13:47] TimVanMourik commented on #36
Hi @agni21 (and @gitcoinbot)! It's been a while, but #37 is finished, so that means this one can be started. In #37, the little dots have been added that subsequently need to be connected. Let me know if the issue is clear and if there's anything I can do to help. Either here or on Slack!

[2018-05-18 14:11] TimVanMourik commented on #35
One thing I notice only now: the nodes are not clickable on mobile/tablet. It would be great if you could come up with a fix for this 😃

[2018-05-18 15:53] TimVanMourik opened #54 "Codecov doesn't work anymore since pytest update"
**Description**
What it says. It all went wrong in [this commit](https://github.com/TimVanMourik/GiraffeTools/commit/0897d042c0f8cc55a20a33cfa943fb50e0919a96), in which `pytest` was replaced by `python manage.py test`.

Please make sure that codecov picks up:
* [x] python manage.py test
* [x] npm test

[2018-05-18 18:18] nemaniarjun commented on #51
Would like to do this if no one else is on it :)

[2018-05-18 20:26] TimVanMourik commented on #51
I mentioned it a couple of times to @arun1595 in DM, but he hasn’t claimed it. So take it away :)

[2018-05-20 04:34] nemaniarjun commented on #51
I think I was right! Before I added this line to the compose yaml, I (and porcupine) were unable to access `localhost:3000`.
[code]
Now it works!

[2018-05-20 09:12] TimVanMourik commented on #51
Haha, is that all?! 😄 Great, I'll try it. The docker-compose describe which ports are open to external  use. Normally only 8000. I didn't realise that the webpack server had to be external as well, but it makes sense for in-memory reloading. If it works, I'm perfectly happy with the solution. It does bring in a new issue into the picture: to make sure that port 3000 is only open in watch mode.

[2018-05-20 10:51] TimVanMourik commented on #51
Just tested it briefly and indeed it gives a console message that it's working with that single line 👍 If you could test if it's actually doing what it's supposed to, that'd be great.

I had a look at extending easily extending the base docker-compose web configuration, but that's not that easy as the `extends` keyword was deprecated in v3. If you can come up with a solution, I'd love to hear it,

[2018-05-21 08:02] bakaoh commented on #35
@TimVanMourik --- sorry for taking so long. I made a PR for this. It comes from the `onClick` event of Node component, which not fire on mobile. I've add `onTouchEnd` to temporary fix but you may want to open a new thread for this issue.

[2018-05-21 19:11] maryam21 commented on #34
I am still working on this.

[2018-05-22 13:04] TimVanMourik commented on #38
Hi @csggene3! Thanks for taking this up, any luck yesterday night? Let me know if there’s anything unclear about the brief!

[2018-05-22 13:14] csggene3 commented on #38
bonjour sir. I appreciate your kindness infinitely. To be direct and honest, if u check my merge requests, I have none. I don't think anyway. That should tell you how inexperienced I am. What it won't tell you is that I have a personal passion for neuroscience as well. There is something wrong with my brain. I'm trying to fix it. Hopefully that will help some other ppl as well. I'm trying to help

[2018-05-22 14:08] TimVanMourik commented on #38
Bonjour monsieur! Thanks for your prompt response. Of course you’re welcome and I’m happy to see your enthusiasm about neuroscience. I appreciate you’re wanting to learn but at the end of the day there needs to be some output. So given the somewhat unusual tenor of your message, I am just wondering what I can expect from you :)

[2018-05-23 03:51] KennethAshley commented on #32
I can get this across the finish line. what is the status of the work already being done?

[2018-05-23 07:59] #53 closed

[2018-05-23 13:36] #54 closed

[2018-05-23 16:28] TimVanMourik commented on #51
Well, while it was enough to have the app 'not crash' and while a similar line now facilitates django live reloading, it still doesn't work for the react app here. So work ain't done yet...

[2018-05-23 22:17] nemaniarjun commented on #51
@TimVanMourik What exactly is not working? For me when I modify a react file, the changes are compiled and show up in django when the page is refreshed.

Do we want to do a full reload of the page? or do we want to hot reload modules?
For the former I have a very hacky solution.
For the later, I am not sure what is wrong, when I change react files, it shows up on `localhost:8000` 's console, but c

[2018-05-23 23:14] nemaniarjun commented on #51
Nevermind, got it working :tada:
PR coming in soon :)

[2018-05-23 23:14] TimVanMourik commented on #51
Right, today the recompiling wasn't even working (@ work, windows PC 🙁 ), but my Mac @ home does recompile things.

What it should do is indeed a recompile, but it should show up straight away _without_ reloading the page: hot module replacement.

I'd be interested in hearing the hacky solution, although it sounds dangerous already... But at the moment I don't have any solution at all. I looked at

[2018-05-23 23:15] TimVanMourik commented on #51
Ah, I see you've got a solution, great! Then I can go to bed now. I'm looking forward to seeing your PR!

[2018-05-24 10:10] TimVanMourik commented on #51
Sorry, had been doing that for an hour already ;)

But this works perfectly, thanks! That is, on Mac/Linux, not on Windows yet. After some Googling I did find the same problem (e.g. [here](https://laracasts.com/discuss/channels/elixir/hot-reload-not-working-in-windows-chrome?page=1)), but no solution yet.

Anyway, I consider this solved in PR #65. Please claim the bounty! 🙂

[2018-05-24 10:46] #51 closed

[2018-05-24 19:17] csggene3 commented on #38
I'll do that. Thanks man. I really do n33d the h3lp. =] cheers m8.

[2018-05-24 19:18] KennethAshley commented on #38
@csggene3 what do you need help with?

[2018-05-25 18:50] vs77bb commented on #36
Hi @TimVanMourik, I snoozed updates for 10 days here. If you aren't able to get a hold of @agni21, you're able to 'Stop Work' [on the issue details page](https://gitcoin.co/issue/TimVanMourik/GiraffeTools/36/400).

[2018-05-25 18:54] vs77bb commented on #34
Snoozed Gitcoin Bot for 5 days, @TimVanMourik. Note you're also able to do so using the drop down. Open to any feedback on Gitcoin Bot along the way 😄

[2018-05-25 19:27] TimVanMourik commented on #36
He’s kept in touch via Slack and has been working on this today!

[2018-05-25 19:28] TimVanMourik commented on #34
Ah, will do so in the future, thanks @vs77bb!

[2018-05-26 08:35] weberV commented on #1
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/TimVanMourik/GiraffeTools/1/218).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a hre

[2018-05-26 08:35] weberV commented on #2
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/TimVanMourik/GiraffeTools/2/219).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a hre

[2018-05-26 08:35] weberV commented on #4
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/TimVanMourik/GiraffeTools/4/220).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a hre

[2018-05-26 08:35] weberV commented on #7
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/TimVanMourik/GiraffeTools/7/226).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a hre

[2018-05-26 08:36] weberV commented on #12
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/TimVanMourik/GiraffeTools/12/255).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a h

[2018-05-26 08:36] weberV commented on #16
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/TimVanMourik/GiraffeTools/16/262).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a h

[2018-05-26 08:37] weberV commented on #19
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/TimVanMourik/GiraffeTools/19/297).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a h

[2018-05-26 08:37] weberV commented on #21
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/TimVanMourik/GiraffeTools/21/299).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoi

[2018-05-26 08:38] weberV commented on #25
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/TimVanMourik/GiraffeTools/25/311).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a h

[2018-05-26 08:39] weberV commented on #28
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.08 ETH (55.37 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/TimVanMourik/GiraffeTools/28/363).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a h

[2018-05-26 08:39] weberV commented on #32
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.08 ETH (55.37 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/TimVanMourik/GiraffeTools/32/378).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a h

[2018-05-26 08:39] weberV commented on #39
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/TimVanMourik/GiraffeTools/39/379).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a h

[2018-05-26 08:39] weberV commented on #37
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/TimVanMourik/GiraffeTools/37/381).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a hr

[2018-05-26 08:40] weberV commented on #35
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/TimVanMourik/GiraffeTools/35/382).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a hr

[2018-05-26 22:18] nemaniarjun commented on #51
Hey, there seems to be some error when I try to submit work, I think it could be because this issue is closed?  Also could be because of the CORS error.
CC: @owocki @TimVanMourik
![image](https://user-images.githubusercontent.com/15715894/40580661-ab70bff0-6160-11e8-89d6-c601d6619bdc.png)

[2018-05-27 07:37] TimVanMourik commented on #51
Hmm, the fact that the issue is closed shouldn’t make a difference.. But this is a problem that @owocki and @vs77bb might need to take a look at. I noticed some glitches earlier by a random dude posting on all my bounties. Not sure if that’s related.

Hehe, thanks, understandable. I got the impression most developers aren’t very Windows prone, so let’s hope it won’t be too much of a problem.

[2018-05-27 11:26] TimVanMourik commented on #38
Hi @csggene3, as this isn't really going anywhere, I'm afraid I'm going to remove you from the 'work started' list.

@KennethAshley , @arun1595 , or anyone else, please feel free to take up the issue 🙂

[2018-05-28 08:58] TimVanMourik opened #67 ""wrapped function failed : TypeError: Cannot read property 'state' of undefined""
**Describe the bug**
Upon dragging a node, the console displays an error:

**To Reproduce**
Steps to reproduce the behavior:
1. Drag node in porcupine app
2. check console
4. See error

**Expected behavior**
Not showing an error. Investigate the source of the problem and fix it, if possible.

[2018-05-28 13:09] arun1595 commented on #67
@TimVanMourik Let me fix it.

[2018-05-28 16:27] owocki commented on #51
Post mortem on that [here](https://medium.com/gitcoin/github-notification-spam-post-mortem-e1ed200936e)

tracking this [here](https://github.com/gitcoinco/web/issues/1291)

[2018-05-28 23:16] nemaniarjun commented on #38
Would be interested, if no one else is :)

[2018-05-29 06:49] TimVanMourik commented on #38
Please do! As a heads up, in two days I’ll be on vacation for almost three weeks. So I will be rather unresponsive for a while. Also, the bounty ends some time in that period. In that case I will tip/repost the bounty, so please don’t worry about that.

[2018-05-29 08:26] #34 closed

[2018-05-29 13:42] TimVanMourik commented on #32
Hey guys! It's been three weeks since posting this issue and almost everything has been completed and the last ones look like they're almost done as well! It's still an early stage of the application, but the workflow editor is slowly starting to look like something functional. A great thank you to @iamonuwa, @arun1595, @bakaoh, @garyaka, @maryam21, @agni21 that completed issues and others that he

[2018-05-30 05:27] nemaniarjun commented on #38
The way the data pass is implemented is great.
It seems hacky, but this it the best way to handle such context data, unless we want to add a whole new view, which IMO is not necessary.

If anyone can figure out a better way, do comment, would love to know better ways to do this!
Sources:
[1](https://stackoverflow.com/questions/48076724/how-to-pass-django-server-variable-into-react-jsx?rq=1) [2](ht

[2018-05-30 08:30] TimVanMourik commented on #38
Ok, thanks, todo-box checked! Then we keep doing it like this 🙂

[2018-05-30 08:50] nemaniarjun opened #69 "Port Visiblity / Values change aplies to all instead of selected node"
**Describe the bug**
When we change visiblity or value of a port of a node, the visibility / value of that port for all similar nodes changes too.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Porcupine
2. Drag and add 2 same nodes (for example: io.S3DataGrabber)
3. Click on any one node, to open the Parameter Pane.
4. Change Visibility / value of any port (example: bucket)
5. Bucket

[2018-05-30 10:02] nemaniarjun commented on #38
The second checkbox is done too ;)
https://github.com/TimVanMourik/GiraffeTools/pull/68

[2018-05-30 14:17] nemaniarjun commented on #69
Found a way to solve this too @TimVanMourik
Would love it if we *can* bounty this, although it not necessary. :)

[2018-05-30 14:23] nemaniarjun commented on #69
Actually this is not just similar to the above issue (#46), but shows that the above solution was not the correct one.

[2018-05-30 18:00] TimVanMourik commented on #69
Well spotted, thanks! Ah, interesting, so it was not (only) the pass by reference problem?

So I mentioned in #32, but here once more: from tomorrow onwards I'll be on vacation for 2 weeks (+
week of conference to show off this project) so I'll be somewhat responsive. So here a quick message, before I take the plane:

Yes, I gladly tip/bounty useful suggestions like this, now and in the future. I'

[2018-05-30 18:11] nemaniarjun commented on #69
It was a pass by reference problem but it was `deeper` (pun intended :grin: ) than it seemed.
Fix explained [here](https://medium.com/@gamshan001/javascript-deep-copy-for-array-and-object-97e3d4bc401a)

[2018-05-30 18:32] nemaniarjun commented on #51
@TimVanMourik can you approve this soon (Before leaving for your vacation) ? I need ETH to submit bounties :grin:

[2018-05-30 20:19] TimVanMourik commented on #51
@nemaniarjun, I was under the stern impression I already did so, and now I'm trying again but get a server error. @owocki?

[2018-05-31 18:50] mbeacom commented on #51
@TimVanMourik . Apologies for the outage messages! This appears to have been a result of some rate limiting issues on our end.  We have made some adjustments.  You should be good to go.

[2018-06-01 17:35] agni21 commented on #36
I am in contact with @TimVanMourik and scope of this issue is a little broader now so it will take some more time

[2018-06-03 09:26] nemaniarjun opened #71 "StyleGuide / Linter for the repo"
We should use a proper style guide and a code linter for the same.
I am currently doing my GSoC with [coala](http://coala.io)

I can setup the repo to automatically lint both Python and JS files when the developer runs coala.

I also propose we use [prettier](https://prettier.io/) style guide for JS which is frankly amazing.

[2018-06-06 16:39] vs77bb commented on #34
Hi @TimVanMourik is this one good for pay out or simply closed? Just checking 👍

Might be worth using 'Cancel Bounty' if there is no pay out associated anymore!

[2018-06-07 04:13] TimVanMourik commented on #34
Short message, as I'm on vacation: @maryam21 completed this and told me she submitted a claim, but it hasn't come through yet. It was her first bounty and she's got ETH via the faucet I believe. She might need some help here :) I suspect the transaction was too low on gas.

[2018-06-09 16:19] maryam21 commented on #34
Hi, @gitcoinbot I already submitted the work. I think the transaction did not succeed. I think I might need to do another one.

[2018-06-12 05:15] nemaniarjun commented on #38
Yeah, I am gonna continue this @gitcoinbot I think I was removed from this due to automatic response.

[2018-06-18 21:59] vs77bb commented on #38
Thanks for letting us know @nemaniarjun 🙂

[2018-06-19 03:17] TimVanMourik commented on #38
And I’m almost back from my conference, and back online on this project!

Just for bragging: in a three day brainhack we made a fully functional Augmented Reality brains website! http://armadillo-brain.herokuapp.com (takes a minute to load, but then hold the marker on the left in front of the camera)

[2018-06-26 15:40] #69 closed

[2018-06-26 15:40] TimVanMourik commented on #69
The replaced code here was previously proposed by @bakaoh in #46. My javascript knowledge is not good enough to understand the difference, but this definitely solves the problem. I accepted the solution and if you can give me a quick explanation as to the difference, I'd be much obliged 🙂

[2018-06-26 15:52] nemaniarjun commented on #69
Its not just basic JavaScript Knowledge, this is one of the gotchas of JS I would say. I added a link in the [above comment](https://github.com/TimVanMourik/GiraffeTools/issues/69#issuecomment-393262735) to a proper quick [explanation](https://medium.com/@gamshan001/javascript-deep-copy-for-array-and-object-97e3d4bc401a).

[2018-06-26 16:04] TimVanMourik commented on #69
Thanks! Sorry, I missed that first mention. JavaScript is weird... Especially the middle part I find confusing. I'll try and wrap my head around this and learn along the way!

[2018-06-26 16:34] nemaniarjun commented on #38
@gitcoinbot there is WIP PR at https://github.com/TimVanMourik/GiraffeTools/pull/68 :stuck_out_tongue:

[2018-07-02 08:48] TimVanMourik opened #72 "The Redux way"
**Implement Redux for more transparent bookkeeping**
This application is slowly growing, and already I find it hard to keep track of all components and actions. One way of clearing things up is to resctructure the app with [Redux](https://redux.js.org). This is a way of describing the components, actions, and containers largely separately, which makes for a clearer overview of who's doing what.

*

[2018-07-02 08:52] TimVanMourik opened #73 "The React way: from jsPlumb to React"
**Moving from jsPlumb to React**
The current editor is largely built with the [jsPlumb toolkit](https://jsplumbtoolkit.com). This is a toolkit dedicated to pipeline scenes so sounds ideal, but it's rather inconvenient in combination with React. I would therefore like to remove jsPlumb from the repository entirely.

This was first suggested by @agni21 in current work-in-progress PR #66, and he's ma

[2018-07-02 08:53] TimVanMourik commented on #36
I'm closing this issue as the brief has changed considerably. This will be taken up in #73.

[2018-07-02 08:53] #36 closed

[2018-07-02 08:54] TimVanMourik commented on #32
Closing this issue as most of it is completed, and the remainder is upgraded to new issues of their own. These will appear this week on GitCoin.

[2018-07-02 08:54] #32 closed

[2018-07-02 08:56] TimVanMourik commented on #71
Hi @nemaniarjun! I happily support this 🙂 I'll put a bounty on it this week!

[2018-07-04 11:12] nemaniarjun commented on #72
Happy to pick this up when I get some free time after the 12th of July!

[2018-07-04 12:20] TimVanMourik commented on #72
Awesome, thanks! The bounty's on its way but stuck in a heavily congested network. But at least that allows me to mention to @arun1595, @agni21, @iamonuwa that new issues/bounties are up on this issue and #73, if you're interested.

[2018-07-04 18:12] iamonuwa commented on #73
@TimVanMourik can't wait to work with you again!

[2018-07-05 08:35] TimVanMourik commented on #73
@iamonuwa, my pleasure, go ahead!

[2018-07-05 14:15] nemaniarjun commented on #71
After going through the user-guides of coala, I think it might scare away the new contributors. As the installation is not straightforward. It is something we are working at coala, but it is still not easily usable right now.
There are three ways to go about it:
1. Use the coala docker image to run all static linting. This is a great option and is ideal. The only issue is that the size of the imag

[2018-07-05 14:31] TimVanMourik commented on #71
Ok, thanks for the analysis :) Let's see, could you please help me out with explaining the benefits and the differences between a couple of concepts and packages: there's `eslint`, `coala`, `prettier`, `autopep8` and I don't know the differences between them. Could you (1) in one or two explain why we want to 'lint' at all (update issue brief) and (2) explain in one or two sentences the strength o

[2018-07-05 15:00] TimVanMourik commented on #72
I'm thinking about how to describe the state and I suppose it's pretty similar to what the current save file looks like already:

STATE:
---|nodes
------|ports
---------|parameters
---|links
---|sidebar

[2018-07-05 15:09] TimVanMourik commented on #72
By all means go ahead @Weezyana07! Welcome 🙂

[2018-07-05 15:16] nemaniarjun commented on #71
Why we should lint at all: Code consistency. It keeps the diffs minimum and makes the code review easier. Linting is not just style changes, we can also have checks in place for potential security issues, repeated code, unused code, complex code, line-lengths, bracket style, all in all making sure that the code is of high quality, and reducing the workload of the developer. There are more advantag

[2018-07-05 15:51] TimVanMourik commented on #71
Ok, that's a very clear and concise explantation, thanks! Let's see, currently the continuous integration has a separate `requirements/test.txt` that's only installed for testing purposes. Is there a way of doing it in a clean way like that, to have a `requirements/lint.txt` and a `bin/run-lint.bash` file to run the linter? Or does that defeat the purpose of easily being able to continuously be `c

[2018-07-05 16:03] nemaniarjun commented on #71
I am afraid I don't understand your question. coala needs only one conmand
to be ran to lint and/or check if the code matches the rules. We can add it
anywhere in the already existing CI script. Since the ci runner doesn't
need to worry about pre installed dependencies just pip install coala-bears
does the installation part and running coala will read the .coafile that I
will make and check if the

[2018-07-05 21:36] TimVanMourik commented on #71
Ok, sorry, let me try to be clearer. The installation of coala and its dependencies need to interfere with regular development if ‘coala-bears’ is included in the test requirements (or if necessary separate linting requirements), nor does it contribute to the docker size. And this way, the newcomers won’t be scared off by it and probably won’t even notice. However, this structure makes coala not d

[2018-07-06 16:06] TimVanMourik commented on #72
Suggestion: use `redux-orm` for the main content (Nodes, Links, Ports), and custom reducers for UI state (Sidebar, Scene, etc.).

I started programming a whole lot (still broken) in a new branch `redux-all-over-the-place`.

I'm trying to figure out a productive way to work on #73 (and PR #66) and on this one at the same time. That new branch is a bit of a merger of both.

[2018-07-07 06:51] Weezyana07 commented on #72
Please can you check the link on the gitcoin page? I keep getting 404 and I can get to see the project- was about working on it at night but couldn't.

porcupine code no funded issue found and redux branch, 404 error
________________________________
From: Tim van Mourik <notifications@github.com>
Sent: 06 July 2018 17:07:00
To: TimVanMourik/GiraffeTools
Cc: Weezyana07; Mention
Subject: Re: [TimVan

[2018-07-07 07:49] TimVanMourik commented on #72
Hi @Weezyana07, let’s see, which page is problematic? I approved your working o this issue and this page is loading fine:
https://gitcoin.co/issue/TimVanMourik/GiraffeTools/72
So what link exactly is giving the 404?

[2018-07-07 13:29] nemaniarjun commented on #71
The linting has to be done by the contributors. The CI can check if the code matches the rules, but it cannot modify the code. Thus the contributor has to lint his code before committing. So there is no way we can work around that.

[2018-07-07 21:54] Weezyana07 commented on #72
got it now

[2018-07-08 01:48] Thoughtscript commented on #73
Hi @TimVanMourik - Very interested in working with you on this project. Is this issue open by any chance? Thanks!

[2018-07-08 01:49] Thoughtscript commented on #71
Hi @TimVanMourik - Very interested in working with you on this project. Is this issue open by any chance? Thanks!

[2018-07-08 01:49] Thoughtscript commented on #72
Hi @TimVanMourik - Very interested in working with you on this project. Is this issue open by any chance? Thanks!

[2018-07-08 02:00] nemaniarjun commented on #71
@Thoughtscript I am currently working on this issue! You can help by replying to the comments above :grinning:

[2018-07-08 02:03] nemaniarjun commented on #72
@Thoughtscript Yes, this issue is a cooperative issue (as you can see on Gitcoin and mentioned in the Issue description), so multiple people can work on this! You would need to communicate with the other contributors and divide work. Currently only @Weezyana07 is working on this :grin:

[2018-07-08 06:05] Thoughtscript commented on #72
@nemaniarjun - Great thanks!

@Weezyana07 - Looking forward to working with you on this. What would you like for me to take a look at? Cheers!

[2018-07-08 07:17] TimVanMourik commented on #72
Hey @Thoughtscript! Yes, it's open! But there are some @gitcoinbot issues, so the usual comments did not appear. But you should be able to press the 'start work' button on the [issue page](https://gitcoin.co/issue/TimVanMourik/GiraffeTools/72) and I'll add you straight away! By the way, I'm working on this with you all as well, as it's the most urgent issue.

In the `redux` branch, I got as far as

[2018-07-08 07:20] TimVanMourik commented on #73
Same response as #72, yes it is, but gitcoinbot issues! Thanks for your interest @Thoughtscript 🙂

[2018-07-08 22:00] Thoughtscript commented on #72
@TimVanMourik - Signed up! Thanks!

[2018-07-09 19:22] TimVanMourik commented on #72
Im getting the hang of Redux! Just did some major work on this issue today. I redid the entire directory structure and separation of different components. But there's still a decent way to go. Some concrete things you can help me out with now are:
* Getting the 'Ports' to work. Each Node has a set of ports specified in the relationship in the `models`. I guess we need to write a `portNodeSelector(

[2018-07-09 20:31] TimVanMourik commented on #72
@Thoughtscript, I tried to approve you, but I only saw a second application from @Weezyana07. This looks like a @gitcoin bug. @owocki?

[2018-07-10 23:48] owocki commented on #72
im... not sure.. might be a race condition.  looking into this

[2018-07-11 07:59] TimVanMourik commented on #73
Hi @iamonuwa! Were you still planning to work on this?

In the meantime, I've been looking for a canvas replacement for jsPlumb. Would this be an option you think: https://konvajs.github.io

[2018-07-11 08:53] iamonuwa commented on #73
@TimVanMourik am working on it.

[2018-07-12 14:16] TimVanMourik commented on #73
Hi @iamonuwa, ok, good to hear! Just a play with it myself. I introduced `react-pinch-zoom-pan` and that seems to do the trick! It can be used as canvas like container and (as the name suggests) we get the mobile compatibility for free!

Although there's still a way to go though, to make it fit with the rest of the app. Check out the latest commit in the `plumb-to-react` branch to see what you thi

[2018-07-12 19:56] TimVanMourik commented on #72
Hey guys! I completed most of this myself by now and I haven’t had any contributions yet. So I’m going to kill this bounty and distribute it over new ones. If you want to complete the remainder of this bounty (or contribute anything else) I’ll happily tip you for it 🙂

[2018-07-13 11:48] iamonuwa commented on #73
Sounds great! I'll compare with what I have

[2018-07-13 13:02] TimVanMourik commented on #73
Cool, I'm open to suggestions! Any WIP PR yet?

[2018-07-13 16:17] TimVanMourik opened #75 "List of simple UI/UX updates"
* [x] Make sure dragging doesn't trigger click event
* [x] Make sure port click doesn't trigger click event
* [x] Make tooltip move along dragged node
* [x] Delete Links on cascade when Node is deleted
* [x] Make link clickable (and deletable)

[to be added to]

[2018-07-13 20:19] #72 closed

[2018-07-14 13:37] nemaniarjun commented on #71
@gitcoinbot I am still working on this.
@TimVanMourik I suggest we go the docker way, as it is the easiest. At least for now. Also it is a one time download of docker images. (And would provide consistent experience for users across operating systems)

[2018-07-14 13:52] nemaniarjun commented on #38
Hey @gitcoinbot I am still working on this.
@TimVanMourik I think there was an issue blocking this, but I can't recall it.

[2018-07-14 16:57] TimVanMourik commented on #38
Yes, the entire front-end has been rewritten in #72 and was basically blocking this one. And a bit of #73 that should be finished soon. That’s the one that makes the links between ports. But as an added benefit, because of the restructuring, the solution for this issue is a lot easier!

I seem to remember that from this week on you had more time on your hands, is that right? This issue is dying in

[2018-07-14 17:02] TimVanMourik commented on #71
Ok, I trust your instincts, @nemaniarjun  ;) Let’s do it!

[2018-07-14 17:29] nemaniarjun commented on #38
Yeah thats fine. I ended up getting much more time than I expected (will pm you on slack)

[2018-07-14 18:38] nemaniarjun commented on #38
I am going to "stop work" on gitcoin as I want to take up more issues (max is 3) and this issue is dying in 2 days anyways, and would be blocked for longer.

[2018-07-16 09:17] TimVanMourik opened #76 "Get positioning of Link component right"
**TLDR:** I am trying to wire up (Link) two components (Ports) in my application, but I can't get it right. This issue is for solving this.
![untitled-1](https://user-images.githubusercontent.com/6152205/42750216-b7372e8e-88e6-11e8-9618-85d09a313b0c.jpg)

I implemented a crude way of connecting the ports by sequentially clicking an input and an output port. The background logic for this is all imp

[2018-07-16 09:37] TimVanMourik commented on #76
*Oops, I accidentally set the bounty type to contest. I'm open to that, but if you want to work together, I happily split it as a co-op bounty.

[2018-07-16 09:44] TimVanMourik opened #77 "Code review: Redux"
I just redesigned the entire application with `redux-react` and `redux-orm` and I'm really happy with the result! But there are still some things that couldn't quite get right. This bounty is for reviewing the new implementation, critically comments on major issues and fixing minor ones.

* `/components` versus `/containers`. In some examples I saw this directory structure. At the moment I used th

[2018-07-16 09:49] TimVanMourik commented on #67
Closing this issue. This had to do with jsPlumb and is not relevant anymore with the new React implementation.

[2018-07-16 09:49] #67 closed

[2018-07-16 12:11] TimVanMourik commented on #73
So, the main part is done and there is a lot of fine-tuning the still needs to be done:
* Connecting ports: separate issue + bounty #76
* Zoom window:
  * On port click, the node registers the click as well. Implement a `stopPropagation` after node click.

[in progress]

[2018-07-16 13:12] TimVanMourik opened #78 "React: Zoom window updates"
The current canvas for porcupine node editor is a `PinchView` from [`react-pinch-zoom-pan`](https://github.com/gerhardsletten/react-pinch-zoom-pan, awesome work @gerhardsletten!). I would like to modify the content of this window for our purposes.

* [ ] I would like to have the Canvas auto-expand when a node is dragged outside the current frame.
* [ ] Although the zoom rendering is incredibly smo

[2018-07-16 14:08] #73 closed

[2018-07-16 14:51] haveyaseen commented on #77
For simple 1-to-n relationships always use `fk`, `many` is for n-to-m relationships. Something like
[code]
[code]

[2018-07-16 18:40] KennethAshley commented on #76
A possible solution for this is to use react `refs` to get the positions of the correct positioning. This would be good because you wouldn't have to use jQuery.

[2018-07-16 23:46] KennethAshley commented on #76
So I started looking at this in the state there is postFrom and postTo are these the two nodes that need to be connected?

[2018-07-17 06:19] TimVanMourik commented on #76
Exactly right! I just looked into `refs` and it looks like that could be a good solution.

[2018-07-17 07:17] TimVanMourik commented on #78
@owocki, @PixelantDesign this bounty's got [funding](https://gitcoin.co/issue/TimVanMourik/GiraffeTools/78/801) and an approved worker @hubris but no @gitcoinbot message. This happened earlier and a Gitcoin issues was made in https://github.com/gitcoinco/web/issues/1627

[2018-07-17 07:19] TimVanMourik commented on #78
Hi @hubris! I approved your application, although gitcoinbot is quiet today. Could you please drop a message, either here or on Slack? 🙂

[2018-07-17 10:43] PixelantDesign commented on #78
Thanks for the heads up @TimVanMourik, I had this problem last night too. We're looking into this.

[2018-07-17 16:12] owocki commented on #78
@TimVanMourik Github suspended Gitcoinbot and thats why there is no message here.  We just emailed them and quickly got it unsuspended.  Thanks for the heads up!

[2018-07-17 16:37] hubris commented on #78
@TimVanMourik Hi, I will try to start this evening (GMT+1). In any case I will be fully on it friday.

[2018-07-17 16:40] TimVanMourik commented on #78
Thanks @owocki, @PixelantDesign for the heads-up!

And you too @hubris, let me know if you've got any questions, either here or via Slack!

[2018-07-17 16:43] TimVanMourik opened #79 "Make simple Code Editor UI"
The plan is that this application is going to create a computer script automatically. I made a small headstart with this in the `code-editor` branch. But I suck at design and CSS. So I made it work, but can't get it to look nice. That's what this issue is for.

### Current behaviour
It now looks like this
![realtime-code-gen](https://user-images.githubusercontent.com/6152205/42865842-356ad5f0-8a6b

[2018-07-17 19:23] hubris commented on #78
@TimVanMourik On which repo/branch should I start? Thank you

[2018-07-17 20:44] TimVanMourik commented on #78
Ah, sorry, `dev` branch, I should have mentioned!
Yes, I know the zoom is locked to ‘=‘. The inconvenient thing about plus is that it’s behind a shift key. What do you think works best in terms of UX?

[2018-07-18 09:02] uivlis commented on #79
It seems to me that `/app/porcupine/js/components/codeEditor.js` does not exist?

[2018-07-18 09:10] TimVanMourik commented on #79
In the `code-editor` branch it does!

[2018-07-18 09:17] uivlis commented on #79
Oh, ok

[2018-07-18 13:54] uivlis commented on #79
Okay, this may be embarrassing, but I can't even get it to run lately, altough I re-cloned and re-built everything from beginning.

![not_working](https://user-images.githubusercontent.com/7414543/42885800-a3b65306-8aaa-11e8-9c5d-113ec5dab3dd.png)

[2018-07-18 13:58] TimVanMourik commented on #79
Ah, that's only embarrassing from my side! I thought I resolved that error in this branch, but not yet. It's to do with  an issue #76. I pushed a new version to resolve it temporarily

[2018-07-18 15:09] uivlis commented on #79
Right, so I will submit a PR with the changes. I will also start work and submit the work on the Gitcoin issue.
Just one mention: for one reason, the react-syntax-highlighter just wouldn't actually highlight the words, so I prefer google-code-prettify, which, without any other module, does not support tomorrow-night-eighties, but I put sunburst, which is... similar... Anyways, I could've put tomor

[2018-07-18 22:01] TimVanMourik commented on #79
Thanks for looking into this so quickly, @uivlis! Looking good, almost there. I still have some small remarks:
* The code starts out with syntax highlighting, but this disappears after an update, e.g. dragging a node into the editor.
* The button in editor-open form still floats a bit awkwardly in the air and is white-on-almost white. How about putting it tightly to the code window and given it a

[2018-07-19 12:50] KennethAshley commented on #76
Ah sorry for the delay. Yeah take a look at it as a few things have came up on my end. But refs should do the trick. That and a combination of maybe adding the dimensions to redux. Please feel free to ping me if you want to discuss it further.

I had to take a last minute trip and will be back home in a day so I can hop back on if need be.

[2018-07-19 16:48] TimVanMourik commented on #76
Sure @KennethAshley, thanks for the help already! I implemented the refs and it feels slighly less dirty than jquery. But there are still two problems left:
* The way I now try to get the position right is with a getBoundingClientRect(), but this of course has the wrong offset (global instead of within the canvas). I got a feeling there's a way to make it work in a smarter way, but I can't come up

[2018-07-19 17:57] KennethAshley commented on #76
@TimVanMourik I guess it depends on where you set the `ref`. Like which component. The nodes update upon dragging right?

[2018-07-20 15:03] hubris commented on #78
@TimVanMourik Since react-pinch-zoom-pan is not a lot of code maybe the most straightforward solution could be to integrate the 2 files in the code base and do all the needed changes from here.

Desktop zoom could use the wheel event for zooming and right click for panning.

[2018-07-20 15:13] TimVanMourik commented on #78
Yes, I think I agree! Would you be interested in making a shot at that for this bounty or shall I make a headstart and put it on whatever I can’t finish?

[2018-07-20 16:46] hubris commented on #78
Considering the amount of work, the hourly rate is too low for me. If you increase the bounty I could give it a try otherwise I would leave it to somebody else. Sorry.

[2018-07-21 20:08] #38 closed

[2018-07-21 20:09] KennethAshley commented on #77
Whats up Tim! Getting a review to you soon. Should have it to you within the hour!

[2018-07-21 20:10] TimVanMourik commented on #77
Sweeet, thanks! Just to be clear: it's about the current `dev` branch, not the `master`!

[2018-07-21 20:11] KennethAshley commented on #77
@TimVanMourik Thanks for the reminder. yea im reviewing `dev`. Is there an easier way to contact you than over Github? If not this is fine ahaha.

[2018-07-21 20:12] TimVanMourik commented on #77
Yes, you can join the Slack! https://www.giraffe.tools/slack

[2018-07-21 21:23] TimVanMourik opened #81 "Going stand-alone"
This website-in-progress is going to be an online GUI application for data analysis. Many people are used to doing this offline. So I feel it would be really cool if we could do both.

## Objective
Explore and list the things needed for making this happen. The main difficulty, I suppose, is the fact that we've got an application that is a Django back-end with an extensive React front-end. An ideal

[2018-07-21 23:55] KennethAshley opened #82 "Code Review: Redux"
## Containers vs Components

So the thought behind Containers and Components is a separation of concerns. Here is a comment from the creator of Redux:

[Link to comment](https://github.com/reduxjs/redux/issues/756#issuecomment-141683834)

Containers also usually don’t have any DOM markup and they never have styles. In some applications I have seen containers also referred to as ‘connectors’, which

[2018-07-22 04:39] nemaniarjun commented on #38
@TimVanMourik Why was this closed / moved to done?

[2018-07-22 10:22] TimVanMourik opened #83 "Post-it Objects!"

[2018-07-22 10:56] TimVanMourik opened #84 "Load porcupine save file [revisited]"
TLDR: Make automatic file loading work, i.e. go to the following example and see a pipeline:
https://www.giraffe.tools/gh/Timvanmourik/somegiraffeexample/master/porcupine

This is an issue revisiting earlier issue #38, to keep things clean. The original brief was somewhat vague because at the time of writing, there were several underlying dependencies. The current brief is not an extension but mer

[2018-07-22 10:57] TimVanMourik commented on #38
Apologies again for the premature closure of this issue. I clarified things in #84. Let me know if you've got any questions!

[2018-07-22 20:54] hubris commented on #78
@TimVanMourik Hi, let me know what you want to do. Thank you.

[2018-07-22 21:16] TimVanMourik commented on #78
Hi @hubris! Sorry, busy weekend! Yes, the bounty on this one is way too low for an adapted re-implementation of react-pinch-zoom-pan, sure! I happily tripple this bounty (0.21 ETH) if we can make that work with the functionality of this original issue!

[2018-07-23 12:32] TimVanMourik commented on #77
Hi @KennethAshley ! Thank you very much for the extensive review! The payout is on its way. I'm going to ponder over the review and implement your suggestions and may post remaining questions on the new issue that you created!

[2018-07-23 14:01] #77 closed

[2018-07-23 20:32] hubris commented on #78
@TimVanMourik Ok I will try to work on it this week.

[2018-07-24 11:31] #79 closed

[2018-07-24 19:22] TimVanMourik commented on #82
Thanks a lot @KennethAshley, this is incredibly helpful! I'm new to Redux(-ORM), so this really gives me a better understanding of the design philosophy. The things I encountered while implementeing these suggestions:

* I added Redux DevTools, good suggestion :)
* A small detail that you might have left out for clarity's sake: React wants keys for fragment list:
[code]
* After the refactoring, we

[2018-07-25 00:30] KennethAshley commented on #82
- Yea you'll have to add a key and i think using `link.id` is the best way to go.
- So ideally you'd have all you need in `<LinksContainer />` and `<Link />`. So you wouldn't even need a container for `<Link />` but of course that depends on what you are tying to do. For example, you'd have a `<ArticlesContainer />` that imports an `<Articles />` component that list many `<Article />` components.

[2018-07-25 09:51] TimVanMourik commented on #82
Ok, clear! In this round of refactoring, the larger number of classes became component/container pairs. I think in a next round I'll be 'dumbing down' the components. I'm reasonably certain that with some refactoring I can cut down on the number of containers substantially, and thereby on store subscriptions.

So far, it's a big improvement already. Smart and dumb components are now completely sep

[2018-07-25 09:56] TimVanMourik commented on #76
After the Redux refactoring I'm looking into this one again. The only logical place to create the `ref` seemed the `Port` itself. But no `Port` update is triggered when a `Node` is dragged. Would creating the `ref` in `Node` do the trick already?

[2018-07-25 22:29] KennethAshley commented on #76
I can look back at this. This one seems a bit tough though. I'm not sure the best place to add the position of the link. Maybe we put it in the state on a port? or somewhere else in the reducers? We could even go without the reducers and pass it as props through the components.

[2018-07-26 15:24] TimVanMourik commented on #78
I just found this project and it looks like exactly what we need. I'm looking into it further.

[2018-07-26 15:41] TimVanMourik commented on #76
Just found this project:
https://github.com/crubier/react-graph-vis
I'm checking it out now to see if I can find how they did it

[2018-07-26 17:33] KennethAshley commented on #76
@TimVanMourik Yea it does look complicated. But looks like they're using `refs` so at least we are heading in the right direction.

[2018-07-27 19:20] hubris commented on #78
@TimVanMourik Hi, yes it does seem to implement most of the features needed for zoom/pan/zoom-to-fit. At first sight, it seems to need some work on the node rendering part though. I was working on the mouse wheel zoom with react-pinch-zoom-pan so I stop since it may be a better alternative. Let me know your plan on this issue. Thank you.

[2018-07-28 08:19] TimVanMourik commented on #78
Sorry, I didn’t want to throw in a change-of-plans entirely! I merely meant it as a good example that we miht take ideas from! Either solution, or a hybrid, or anything else that works is fine 🙂 Sorry if I caused any confusion

[2018-07-29 16:51] nemaniarjun commented on #71
Yes! I am still on this @gitcoinbot. Settled into my college and will be back on this from tomorrow.

[2018-07-30 15:06] TimVanMourik commented on #76
Yes, they use `refs`, but on further inspection they don't use them for this purpose. They refer to the position of the node. The core of the problem here is that the positions of the ports change dynamically and are a bit harder to ascertain from the node position alone. But that's what I did now. I implemented a rather hacky way of giving a position to the port and passing that on to the link. 2

[2018-07-30 15:06] #76 closed

[2018-07-30 20:49] TimVanMourik commented on #76
Update: redesigned the port location update and it's not too bad anymore. The positions are now hard-coded  in the model code, which is weird. But at least it's all together, so it can now more easily be upgraded.

[2018-07-31 08:36] TimVanMourik opened #85 "Update Syntax highlighting"
I'm very fond of the Atom syntax highlighting. This is a simple issue to replace the current syntax highlighting with Atom version of it.

Graphically:
![untitled](https://user-images.githubusercontent.com/6152205/43448671-d0a669c4-94ae-11e8-9971-240a55e56311.png)

It is about the syntax highlighting that pops up right in front of you when you go to [this page](http://www.giraffe.tools/gh/Timvanmo

[2018-07-31 09:13] TimVanMourik commented on #79
Hi @uivlis! I made a new issue+bounty related very related to this one. You can have a shot at it if you're interested! #85

[2018-07-31 09:56] uivlis commented on #79
Sure! I'll have a look at it.

[2018-07-31 10:55] nemaniarjun commented on #84
On this from today! :rocket:

[2018-07-31 11:15] TimVanMourik commented on #85
Hi @PaulRBerg! That's some very quick good work already, thanks! Yes, I like the background to be the Atom grey kind.

[2018-07-31 11:16] TimVanMourik commented on #84
Nice, hope you're doing alright and looking forward to working with you again!

[2018-07-31 11:32] uivlis commented on #79
Wow, it appears they already started on that one!

[2018-07-31 11:40] TimVanMourik commented on #79
Looks like it! This was indeed incredibly quick.

[2018-07-31 12:58] TimVanMourik commented on #85
By the way, I mentioned placing the files in this repo and that's a perfect initial solution. But submitting it as a PR to `react-syntax-highlighter` to have them include it natively is even nicer and community friendly of course 🙂 But maybe you intended to that anyway!

[2018-07-31 14:45] TimVanMourik commented on #85
Sure, you could also point the package.json to your own repo, which might even be easier.

Right, I had found the `atom-dark` but indeed had the impression it wasn't quite the same, but didn't look any further and posted a bounty instead 😇 Looking forward to the result, let me know if I can help out with anything.

[2018-07-31 16:50] PaulRBerg commented on #85
Unfortunately, I wasn't able to find any fully-fledged implementation of highlight.js or prism.js for python. The status-quo now is to not highlight variables, params or object instantiations (as per the image above). It's still quite pretty though:

<img width="1248" alt="screen shot 2018-07-31 at 17 43 21" src="https://user-images.githubusercontent.com/8782666/43473901-41d181f8-94e9-11e8-9850-ce

[2018-07-31 17:25] TimVanMourik commented on #85
Ah, gotcha, so if I understand you correctly, the problem is that you need sophisticated parsing of the text to figure out the types and therefore colour. That indeed sounds non-trivial, so let’s put that on the feature list for later. I like it better already than the old version and this is useful information.

So for my understanding and future reference:
* Atom specifies syntax structure in CS

[2018-07-31 17:48] nemaniarjun opened #87 "A guide for contributing"
**Is your feature request related to a problem? Please describe.**
New comers should know how to start contributing to this repo.

**Describe the solution you'd like**
A clear and concise description of how to setup the dev env.

[2018-07-31 18:29] PaulRBerg commented on #85
• Yes, Atom uses those quirky CSON configs to highlight syntax
• Indeed, ‘react-syntax-highlighter’ makes use of ‘highlight.js’ and ‘prism.js’ under the hood, which don’t support complex variable highlighting. From the [docs](http://highlightjs.readthedocs.io/en/latest/style-guide.html):

• It is definitely not impossible, but, at first sight, it seems to be a task which requires a few days of fid

[2018-07-31 18:44] nemaniarjun commented on #84
@TimVanMourik I got the progressbar and the loading of files working with Redux.
Can you tell me what exactly what else has to be added to `File Loading`?
Upon visiting ```localhost:8000/gh/Timvanmourik/somegiraffeexample/master/porcupine``` on my browser, I see the loading bar and the canvas loads according to the file.

Also when will we clear the database after this loading?

[2018-07-31 18:58] nemaniarjun commented on #84
Another query: For error handling, can we outline what all error are possible and how to inform the user about them? From the top of my head I think 1 would be "Failed to load the file, please check the url" and 2 "Syntax doesnt seem right, are you sure the file is formatted correctly"

[2018-08-01 09:01] TimVanMourik commented on #85
Ahh, I just hadn't noticed `atom-one-dark` because I was lazy and only checked the styles from the dropdown menu from the example.

And I might have been lazy again, because the quote you pulled from the docs is quite clear that I want something beyond the scope of this project. From a quick Google search it doesn't look like there's a React alternative that supports the CSON file. I might post a

[2018-08-01 10:54] PaulRBerg commented on #85
Haha, indeed, regexs can be a pain in the neck. In case it is needed, I'm more than happy to answer you or @uivlis any questions about the research I've done on syntax highlighting.

Thank you so much for finishing this bounty!! :) I have a rather busy period for the following days, but I'll consider the follow-up regex task.

[2018-08-01 12:06] TimVanMourik commented on #87
Yes, this is a very good point. I should have done this long ago, but I always struggle writing one-size-fits-all guidelines that are still useful. I just made a Slack channel for more easily discussing this.

[2018-08-01 12:41] TimVanMourik commented on #84
@nemaniarjun  Ok, the loading bar PR might still need some updating because I recently moved the loading to `canvas.js`. The reason is that prior to this, it was doubly implemented: loading in `content.js` and basically the same code in `canvas.js` for adding nodes by drag & drop. Does the outsourced loading to the `utils` function pose a problem?

I suppose in the last ten days I did some more wo

[2018-08-01 12:44] nemaniarjun commented on #84
Oh, I did not push the most recent work. I already added the progressbar to the redux setup yesterday.
The setup seems okay, we can change it if we run into any issues.

[2018-08-01 12:59] TimVanMourik commented on #71
Solved in #86

[2018-08-01 13:00] #71 closed

[2018-08-01 13:18] TimVanMourik opened #89 "Github commit API"
To be written

[2018-08-02 07:32] TimVanMourik commented on #85
Bounty's heading your way, @PaulRBerg, and thanks again! There's no hurry with the aditional regex syntax highlighting. The above offer stands for at least a couple of weeks. Closing this issue for now.

[2018-08-02 07:32] #85 closed

[2018-08-02 11:50] TimVanMourik commented on #82
Closing this issue as it's all been implemented. I created a label 'code review' for future reference of implementational discussions.

[2018-08-02 11:50] #82 closed

[2018-08-05 11:30] TimVanMourik commented on #78
Thanks! Could you please make a WIP PR for this? Makes it easier for me to look at it and make changes if necessary!

[2018-08-05 18:38] nemaniarjun commented on #76
@TimVanMourik We should close this on gitcoin?

[2018-08-05 19:39] TimVanMourik commented on #78
Thanks @hubris! I didn't have much time to look at it yet, in my weekend, but updated some things here and there to make it fit with the current Redux setup, see commit 4a5b84cba79a8781cf124ea501a7c19dae10e9d9.

Quick remarks: Overall I like the zoom and drag functionality! It's working for me on Chrome as well. But it is a bit glitchy and slow it seems, not sure why. I noticed that some parts hav

[2018-08-05 19:41] TimVanMourik commented on #76
Yes, you're absolutely right. Sorry, didn't realise it was still open.

[2018-08-09 00:44] nemaniarjun commented on #38
@TimVanMourik the [bounty on gitcoin](https://gitcoin.co/issue/TimVanMourik/GiraffeTools/38) should be closed

[2018-08-09 11:51] TimVanMourik commented on #38
Ah, I thought expired bounties would close automatically, but that's not how it works. I'll close it later today!

[2018-08-11 20:08] TimVanMourik commented on #78
I had a bit busier week than I thought I would, but finally got round to it. I made some sizeable edits in commits until b87017b153b0380dd2c0b93af1a468d8df8e5f79. I removed all jquery from the code and restructured here and there. The only thing that still needs to be solved is that the window currently only responds to scroll and drag when the scaled translated version of the `panview` div is hov

[2018-08-11 20:56] TimVanMourik opened #92 "Lazy loading for nodes"
Currently, the Nipype nodes are compiled with the Javascript code. It's nicer if this is exposed via an API instead, as the database is quite sizeable and not scalable in the long run. Let's load them in a lazy manner, e.g.:
https://medium.com/@kashyap.mukkamala/lazy-loading-components-in-angular-and-react-applications-3f7f251c9277

[2018-08-21 09:07] TimVanMourik opened #93 "Search tool for nodes"
To be inserted later

[2018-08-31 08:12] TimVanMourik opened #94 "Insert code editor in react-tabs"
I would like to insert the current code editor into a React tab pane, so that it can contain code for multiple languages (e.g. Python execution code and a Docker container file)

https://github.com/reactjs/react-tabs

[2018-08-31 15:30] TimVanMourik opened #95 "Set up a database"
So far the website hasn't saved anything and hasn't needed any back-end database. But soon, users will be able to log in with GitHub and ideally have some small convenience data saved here and there, like repository specific API-keys.

So I would like a standard (most likely) postgres database that can store this.

This will probably involve:
- [ ] I think a postgres database makes most sense here

[2018-09-14 01:52] vs77bb commented on #79
Hi @TimVanMourik I think you can 'Cancel Bounty' on this one, given the tip was already paid out? Hope you're doing well 🙂

[2018-09-23 20:25] TimVanMourik opened #96 "(S)CSS help wanted! Implementation of design"
I suck at CSS. I came to that conclusion long ago, and now I have to implement the design that was made for me. I implemented the React side of things but the styling is still far from done.

https://github.com/GiraffeTools/GiraffeTools-Creative/tree/master/page-design

Across pages:
* The page banner for other pages (`banner.js`)
* The footer (`footer.js`)
* The navigation triangle (`navigation.j

[2018-11-23 03:17] Losses opened #97 "Unable to remove a line on porcupine online version"
**Describe the bug**
Remove a node won't remove it's line, and didn't find any way to remove a line...

**To Reproduce**
Steps to reproduce the behavior:
1. Add some node
2. Connect them
3. Delete one node

**Expected behavior**
Node removed,line removed.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1384036/4892742

[2018-11-23 08:42] Losses commented on #75
Add a search field on the left and right side bar may make selecting tools more convinent? :D

[2018-11-23 16:02] TimVanMourik commented on #75
@Losses, yes, good one. You can make a separate issue as 'feature request' about that if you like, as that would in no way be a 'simple' update :)

[2018-11-23 16:02] TimVanMourik commented on #97
Thanks for the issue, @Losses, I was just working on this today! Should be working soon. The plan is to make links clickable and deletable, and have links removed on cascade (also mentioned in #75). I'll keep you posted on the progress.

[2018-11-23 17:43] TimVanMourik commented on #97
UPDATE: Link deletes on cascade after commit e99a5df0c997bf79fd22ca19548c8953860f7d79.

Clicking and deleting is still WIP.

[2018-11-24 01:56] Losses opened #98 "Add a search bar on the left and right side?"
**Describe the solution you'd like**
Adding a search bar on the left and right sidebar, users can get tools and options easily. :D

[2018-11-24 01:57] Losses commented on #97
Great!

[2018-11-24 01:57] Losses commented on #75
Done! ⁽⁽ ◟(∗ ˊωˋ ∗)◞ ⁾⁾

[2018-11-24 13:54] TimVanMourik commented on #98
In order to implement this, we first need to have searchable terms. In other words, the nodes need to be annotated with what they represent. So the roadmap for this issue is roughly:

* Adapt application to include perhaps a 'keywords' field
* Annotate nodes with keywords
* Include search functionality in application

[2018-11-24 19:51] TimVanMourik commented on #97
UPDATE: Clicking and deleting has now been implemented as well, see commit d5921b4d92d0164c8f8397f26f3d8382ca3c4b19. Let me know if you can find bugs in the implementation. And feel free to make more issues with bug reports or feature requests. For me it gives a good indication of what parts I need to work on first :)

[2018-11-26 20:01] TimVanMourik commented on #97
Yes, there is! But the links and sign-up method still needs to be implemented in the updated website design. I made an issue for this in #99 to do this. I'll see if I can complete it by tomorrow.

[2018-11-27 14:05] TimVanMourik opened #100 "CSRF token trouble"
**Describe the bug**
I would like to connect the back-end to the front-end and this needs [CSRF protection](https://en.wikipedia.org/wiki/Cross-site_request_forgery) on my POST requests from front to back. Now even though I've got the impression I'm doing this right, that's clearly not the case and I keep getting errors. At the moment CSRF protection is switched off see [line 35, base.py](../tree/

[2018-11-27 15:24] #97 closed

[2018-11-27 15:29] TimVanMourik commented on #96
Basically all implemented. Separate issues for finalising will be made.

[2018-11-27 15:29] #96 closed

[2018-11-28 13:46] TimVanMourik opened #101 "Improve the parameter editor with react-jsonschema-form"
Suggestion over Slack from @Losses. The parameter editor is basically a schema editor and it makes sense to use dedicated libraries for this, for example `react-jsonschema-form` (https://github.com/mozilla-services/react-jsonschema-form).

Explore if this is indeed a good idea and implement if that's the case.

[2018-12-01 10:14] TimVanMourik opened #102 "HappyBrowsers.js"
At the moment, the website uses several browser features that are only support by recently updated browsers. I would like a warning message like the following:

https://github.com/OpenNeuroOrg/openneuro/blob/57f8cc483e05c88afe53accf6bbbeffb92b45c04/packages/openneuro-app/src/scripts/common/partials/happybrowser.jsx

[2019-01-03 20:26] TimVanMourik opened #103 "Set up async await"
I really want to use the `async await` API but I didn't manage to setup webpack and babel to do this. This needs to be fixed. Documentation of my earlier attempts will follow.

[2019-01-04 09:28] TimVanMourik opened #104 "Promisify generated code"
The code generator currently works synchronously, which is suboptimal when the generated code needs to be retrieved from an API. This is intended with the neurodocker code generation.

[2019-01-05 16:48] TimVanMourik commented on #103
Solved in 7c3d1dd

[2019-01-05 16:48] #103 closed

[2019-01-05 16:49] TimVanMourik commented on #104
Solved in 0a06e2d

[2019-01-05 16:49] #104 closed

[2019-01-06 13:44] TimVanMourik commented on #98
Search bar added, so closing this issue. Thanks for the feature request @Losses.

I'm aware that the current search behaviour is rather limited. I only search in the titles of nodes. I'd be happy to expand it if Nipype ever gets keyword annotation.

[2019-01-10 14:58] #98 closed

[2019-01-11 17:02] yarikoptic opened #105 "Does not list all the projects in my view of github"
**Describe the bug**

at https://giraffe.tools/github/yarikoptic I see only a handful of them and e.g. no https://github.com/yarikoptic/ExampleGiraffe .  I think just due to a good number of them.

- Also I see in debug console lots of those 404'ed attempts to access GIRAFFE.yml .  I think it is better to manage to sense without causing those logs recorded

**To Reproduce**
Steps to reproduce the

[2019-01-11 17:04] effigies opened #106 "Cannot scroll generated nipype/Docker output"
**Describe the bug**

I can't scroll generated nipype/Docker output.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://giraffe.tools/porcupine/TimVanMourik/FslFeatPipeline/190f0b2aed6fdf1a4acae2f840bd27f10fec504a
2. Click on up arrow on text frame
3. Attempt to scroll
4. Cannot scroll

**Expected behavior**

Ought to scroll.

**Desktop (please complete the following information):

[2019-01-11 18:35] TimVanMourik commented on #105
Probably this is because no pagination is implemented. #TODO: implement pagination for the user page and while we're at it, also for the commits on the project page. Thanks @yarikoptic for the issue!

[2019-01-11 18:57] mick-d opened #107 "Adding custom nodes"
It would be great to be able to use custom nodes, imported automatically from python files containing NiPype workflows and nodes.

Maybe this is already possible in porcupine?

[2019-01-11 19:17] TimVanMourik opened #108 "Don't create link when it already exists"
What it says

[2019-01-11 19:18] TimVanMourik opened #109 "When link is created, it doesn't always display"
Experienced during live demo of @oesteban.

[2019-01-11 20:54] TimVanMourik opened #110 "Ports are not removed on deletion of node"
What it says

[2019-01-11 20:57] TimVanMourik commented on #106
Looking like a Firefox bug. Looking into it!

[2019-01-11 21:05] TimVanMourik commented on #109
On further investigation, this happens when:
-A port is added
-A link is created without the parent node being moved
-It appears as soon as parent node is moved

Reason:
When a port is added, the positions of all ports are updated. However, the updating was called before the addition of the port. Hence, the new port doesn't have a position until the ports are updated again, e.g. by dragging the pa

[2019-01-11 21:19] TimVanMourik commented on #109
It feels a bit hacky, but calling an empty position update after a port is created is a reasonable and very cheap solution.

[2019-01-11 21:19] #109 closed

[2019-01-11 21:30] TimVanMourik opened #111 "OAuth only works for myself..."
Oops.

[2019-01-12 16:08] TimVanMourik commented on #111
Fixed in eaed95c16b30b2ccb9d47d9d5285d34ece6c638a

[2019-01-12 16:08] #111 closed

[2019-01-12 16:55] 62442katieb opened #112 "Denote required inputs per interface"
**Currently, required inputs aren't marked or specified**
It could be nice to make it visually clear which inputs are required for each interface and, possibly, raise an error when we try to _Save to GitHub_ if requirements aren't met.

**Perhaps add an asterisk next to the required inputs**
For all `mandatory=True` fields in the interface's InputSpec, add an asterisk or other visual indication th

[2019-01-12 17:01] bilgelm commented on #112
Removing/disabling the trash icon next to mandatory inputs to nodes would be helpful.

[2019-01-12 17:07] bilgelm opened #113 "standalone SPM"
**Is your enhancement suggestion related to a problem? Please describe.**
Giraffe is using SPM via Matlab, which requires a licence.

**Describe the solution you'd like**
Add support for standalone SPM (and make this the default).

[2019-01-12 17:09] effigies opened #114 "Node cloning"
It would be nice to have a button that would take an existing node and make a copy with all of the same fields, possibly prepopulated with the same hard-coded (non-connection) values.

[2019-01-12 17:10] TimVanMourik opened #115 "Two of the same nodes get the same name"
Fix: keep the name and function separate

[2019-01-12 17:13] TimVanMourik commented on #113
I'd happy happy to support this! Do you know about current solutions that implement running MATLAB in Docker? Is this implemented in Neurodocker, @kaczmarj? That would up the neurodocker integration in the priority list.

[2019-01-12 19:07] bilgelm commented on #113
Yes, Neurodocker supports standalone SPM. Matlab is not necessary for this - only the Matlab runtime compiler.

[2019-01-12 19:14] kaczmarj commented on #113
@bilgelm is correct. though i have had issues with certain docker base images. `(neuro)debian:stretch` definitely works, so i would recommend basing images on that.

[2019-01-13 21:14] TimVanMourik opened #119 "Firefox trouble..."
Find out why Firefox is being difficult in all sorts of ways. As an intermediate solution, let's include Firefox in `UnhappyBrowser.js`

[2019-01-13 21:43] TimVanMourik commented on #119
In commit 59d9a9e, an 'unhappy browser' alert is introduced in anticipation to solving Firefox issues like #106

[2019-01-13 22:31] #110 closed

[2019-01-13 22:33] TimVanMourik commented on #102
Done. Although some browsers need to be made happier. Track in separate issues, like #119

[2019-01-13 22:33] #102 closed

[2019-01-14 10:14] TimVanMourik commented on #115
Fixed in 05d64e5

[2019-01-14 10:14] #115 closed

[2019-01-15 09:20] TimVanMourik opened #121 "Unleash the ARmadillo!"
In the `armadillo` branch, there is a good headstart to bring in the original https://armadillobrain.app application.

[2019-01-15 14:00] TimVanMourik opened #122 "General design improvements"
This is a summary issue for tracking a list of design enhancements. Specific point may get their own issues, either in this repo or in [GiraffeTools/GiraffeTools-Creative](https://github.com/GiraffeTools/GiraffeTools-Creative).
#EDIT: with design I mean the looks of existing functionality, the UX/UI, suggestions that also include new features will get their separate issues.

* The website design w

[2019-01-18 16:05] TimVanMourik commented on #78
Closing deprecates issues. Front-end completely reworked

[2019-01-18 16:05] #78 closed

[2019-01-18 16:06] TimVanMourik commented on #84
Closing old issues. This is all working now in the new completely reworked version

[2019-01-18 16:06] #84 closed

[2019-01-18 16:15] TimVanMourik opened #123 "Restructure the node database"
The current naming is inconvenient as the names of nodes are keys of a dictionary. Instead, make this an array with a { name: [name] } field.

[2019-01-22 13:59] AnnaVantVeer opened #124 "Make button to clear database"
**Is your feature request related to a problem? Please describe.**
When starting a new pipeline, would be nice if you can clear the example pipeline with a button.

**Describe the solution you'd like**
A button to clear the working space database.

**Describe alternatives you've considered**
A popup that explains that the example that opens when you add a new project is an example, and that you ca

[2019-01-22 14:05] AnnaVantVeer opened #125 "GitHub stars/forks are not refreshed on Porcupine page"
**Describe the bug**
The stars/forks on the Porcupine page do not display correct number that belongs with the project that you are looking at.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an example project
2. Go to a new project
3. see the stars/forks numbers of the example project

**Expected behavior**
refreshed stars/forks

**Screenshots**
<img width="2215" alt="screen shot 201

[2019-01-23 10:40] TimVanMourik commented on #122
Opening issues around this in https://github.com/GiraffeTools/GiraffeTools-Creative/issues/1 (logo) and https://github.com/GiraffeTools/GiraffeTools-Creative/issues/2 (merch)

[2019-01-25 09:48] TimVanMourik opened #126 "Parameter pane on mobile is shifted"
**Describe the bug**
Parameter pane is misplaced on mobile
![img_0143](https://user-images.githubusercontent.com/6152205/51737600-4add3780-208d-11e9-8529-85da10222aee.PNG)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to giraffe.tools/porcupine on a mobile device
2. Drag in module and select it
3. At first there the parameter pane is empty and visible, after selecting it slides to the l

[2019-01-25 14:41] TimVanMourik commented on #125
Thanks @AnnaVantVeer! I realised this a while ago but forgot about it as it wasn't urgent enough to look into before launching at Coastal Coding and OpenMR Benelux. So it's really good that you brought to my attention again. I think it's fixed now (in commit d0172a972ae2ccbb779c26db85b34ca67c5ce1fc)

The nerd reason for the problem: the previous buttons were embedded buttons that tried to minimise

[2019-01-25 14:42] TimVanMourik commented on #124
Works started in branch `pretty-svg-menu`. This new menu moves existing buttons to a new menu and allows the addition of new ones.

[2019-01-25 14:47] TimVanMourik commented on #75
List of points was fixed a while ago. As the application is growing bigger, update requests are now preferably tracked in separate issues

[2019-01-25 14:47] #75 closed

[2019-01-27 17:28] jdkent opened #127 "UI/UX feedback"
Hi!

After CoastalCoding, I presented this tool in our neuroimaging workgroup meeting and got some feedback on their experience with the tool (I shared a link to the tool a few days before the meeting, but did not talk much about it until the actual meeting).

Below is the aggregated feedback from the group (I understand some of this stuff is currently being worked on/mention in other contexts so

[2019-01-27 18:58] TimVanMourik commented on #124
Done! Added a prettier menu with an option to start over with a clean slate!

Fixed in 5f03c7999744e57955f3ae7e5ecc42f62e363a6a

[2019-01-27 18:58] #124 closed

[2019-01-27 19:02] TimVanMourik commented on #114
Thanks @effigies for the suggestion! I added a new menu with several new buttons like copy/pasting. It copies all parameters including hard-coded values.

Introduced in 5f03c7999744e57955f3ae7e5ecc42f62e363a6a

[2019-01-27 19:02] #114 closed

[2019-01-28 10:40] TimVanMourik commented on #127
Hit that delete key! Implemented in 0f79074.

[2019-01-28 12:23] TimVanMourik commented on #127
Infinite scrolling implemented! (commit ffc94a1)

[2019-01-30 15:06] TimVanMourik commented on #121
This completely works in `development` mode but crashes in `production`. Reason mentioned in 65073df82d2fa3670c5f8b029a9264687d9749f7.

There is a problem of circular required order of inputs in `armadillo.html`:
[code]
This could be solved if it were possible to load `aframe-ar` into the React environment, which is currently impossible.

Excited to see https://github.com/jeromeetienne/AR.js/issue

[2019-01-30 15:29] TimVanMourik commented on #113
A temporary solution has been implemented by grabbing a standard SPM template.

Neurodocker implementation to be concluded (see https://github.com/TimVanMourik/NeurodockerWeb), but at the moment there's a working solution in place.

Example in:
https://giraffe.tools/porcupine/TimVanMourik/GiraffePlayground/b51beaee18262d80fc4a1b268165d7aacf85df77

[2019-02-04 20:18] TimVanMourik commented on #121
Introduced in df73c8d5ff3b6bb8a976212a4b2f62bb46394568

Colours and shadows to be fixed

[2019-02-04 20:18] #121 closed

[2019-02-20 15:15] #125 closed

[2019-03-08 14:39] mdlm199 commented on #107
I agree with the opinion of mick-d, it would be nice to have a tool that imports custom nodes ( or workflow or class). Maybe it exists as you have you already all the nipype nodes into json files.

[2019-03-08 16:08] TimVanMourik commented on #107
Hi @mick-d, @mdlm199, I totally agree and it's definitely part of the plan. I just did rewrote the back-end to lay the groundworks for this and make it possible. In the original Porcupine version we [made this possible](https://timvanmourik.github.io/Porcupine/documentation/advanced/custom-nodes).

I'm still thinking about the best way to facilitate this. I would like to be able to grab the functi

[2019-03-11 08:53] mdlm199 commented on #107
Thanks for your answer @TimVanMourik. I'm happy to hear that it's part of the plan, as it will allow people to share their work and even extend the use of giraffetools to other fields.
I think  one of the best asset of giraffetools is that it is easy to use even for non-programmer. If you want people to be able to add custom nodes, you should ensure that a node A from guy 1 is compatible with node

[2019-03-11 09:55] TimVanMourik opened #128 "Implement undo/redo buttons"
What it says

[2019-03-11 09:56] TimVanMourik opened #129 "Implement a toolbar instead of current click menu"
What it says

[2019-03-12 15:16] TimVanMourik commented on #107
Yes, I agree, @vferat, that the new functionality should be compatible with Nipype workflows that are currently generated. My current idea is as follows:

* [ ] The current repository needs to be imported in the Dockerfile
  * `RUN git clone https://github.com/User/Repo`
  * The tricky thing here is that if the source repository has its own dependencies, these are not installed. Unless we force th

[2019-03-26 14:17] TimVanMourik commented on #87
Removing old issues. Although a new contributing guide is still kinda relevant.

[2019-03-26 14:17] #87 closed

[2019-03-27 17:51] TimVanMourik commented on #107
Almost there, @mick-d @vferat! Just implemented number 2, which was by far the hardest part. I just made work an entire custom toolbox that I wrote for laminar analysis: https://giraffe.tools/porcupine/TimVanMourik/OpenFmriAnalysis

If the toolbox were Nipype compatible it would actually produce code, but that's not the case here. The rest will be implemented soon

[2019-03-27 19:45] vferat commented on #107
Hi @TimVanMourik ,

Sorry to answer so lately , got a lot of work this weeks. Your solution looks like exactly what I expected, this would surely be a game changer feature for giraffetools !

- For answering your previous message, I think writting a `requirements.txt` should be a good solution, it is not so complicated for contributors and would be easly implemented in giraffe.tools
Anoter solutio

[2019-04-01 12:13] TimVanMourik commented on #123
Done in among others bda110d2ff6ce35ac8a1757070e50569a174838f

[2019-04-01 12:13] #123 closed

[2019-04-02 11:52] mick-d commented on #107
@TimVanMourik this looks fantastic!

For creating the json file, do you already have some code inferring it from a NiPype interface InputSpec and OutputSpec?

[2019-04-02 12:10] TimVanMourik commented on #107
Hi @vferat, quick answer to your questions:
* Alright, I'll start out with the `requirements.txt` as an initial solution and we'll see if it needs to be updated.
* With nipype compatible I mean that my toolbox is written in MATLAB and doesn't have nipype wrapper yet. So in the current exmple there is no functional code produced.
* The example of creating custom nodes for my old stand-alone Porcupi

[2019-04-02 12:57] mick-d commented on #107
@TimVanMourik sounds great!

@vferat and I are actually collaborating so we can both help you in some aspects. We will probably start focusing first on importing custom nodes. Do you have any insight on how best combining efforts for this?

I imagine the steps would be to:
- creating custom nodes similar to NiPype's (we already have some at our ends)
- adapt [parse_nipype.py](https://github.com/Ti

[2019-04-03 21:23] TimVanMourik commented on #107
Ah, that's good to know! Let's see, basically that `parse_nipype` script is indeed basically exactly the what needs to be adapted. The `node2json` function is critical here and basically takes in any Nipype node.

Something you gotta be aware of is that all nodes need to be wrapped in a `toolboxes` struct as you can see in the last `json.dump` line. If you want to see what the full JSON structure

[2019-07-26 12:01] #83 closed

[2019-07-26 12:02] TimVanMourik commented on #126
Solved recently with a simple `right: 0` statement.

[2019-07-26 12:02] #126 closed

[2019-07-30 12:37] TimVanMourik opened #131 "Save to SVG functionality"
Make it possible to save a workflow as a PDF or SVG file.

[2019-08-14 15:32] TimVanMourik opened #132 "When the `file(s)` field is empty, a file named `null` is written"
**Describe the bug**
When the `file(s)` field is empty in the `GIRAFFE.yml` file, the workflow is saved in a file named `null`.

**Expected behavior**
Ask the user for a file name

**Additional context**
Reported via Slack by @matteomancini. Thanks! 🎉

[2019-08-15 09:11] TimVanMourik opened #133 "Save the toolbox toggle to the pork-file"
**Is your feature request related to a problem? Please describe.**
Save the toolboxes that were toggled by the user to the pork-file

**Describe the solution you'd like**
Add a UI configuration field to the pork file.

**Additional context**
Suggested via Slack by @matteomancini. Thanks! 🎉

[2019-08-15 12:57] TimVanMourik commented on #132
Hi @matteomancini! I rewrote the save mechanisms and this bug should be resolved. I ran some tests and it looks all good. I'm closing this issue, but I'll reopen it if you find that I missed something.

The updating of the name of the save file is something on my to-do list. The current solution only sets the file to a deafult if none exists. Feel free to make a feature request for that, if you li

[2019-08-15 12:57] #132 closed

[2019-08-16 09:57] TimVanMourik commented on #131
Solved in eb3f1ef! The layout still stands to be improved but this is a good start!

[2019-08-16 09:57] #131 closed

[2019-08-16 09:58] TimVanMourik commented on #92
Solved in a slightly different way: separately loaded from assets.

[2019-08-16 09:58] #92 closed

[2019-08-16 09:59] TimVanMourik commented on #107
Closing this issue as it's working and tested with Nipype and even non-Nipype toolboxes, like:
https://giraffe.tools/porcupine/TimVanMourik/keras-giraffetools-digit-recognition

[2019-08-16 09:59] #107 closed

[2019-08-16 10:41] #129 closed

[2019-08-16 14:58] TimVanMourik commented on #127
Hi @jdkent,

I'm rounding up old issues and just wanted to give you a quick feedback on what I did with your comments:

* The whole porcupine thing is now aliased to 'workflow'. So the interface is now accessible by
https://giraffe.tools/workflow/TimVanMourik/SomeGiraffeExample
* Infinite scrolling was added a while ago
* The sidebar on the left has now a scrollable middle, and the 'Save to GitHub

[2019-08-16 14:58] #127 closed

[2019-08-16 15:15] #122 closed

[2019-08-16 15:23] TimVanMourik opened #135 "Add multi-selection functionality"
What it says.

[2019-08-16 15:55] TimVanMourik commented on #133
Done in 891514f. The toolboxes can be updated behind the cog menu next to 'TOOLBOXES'. The toolboxes that are switched on/off are saved and loaded now.

[2019-08-16 15:55] #133 closed

[2022-10-01 19:52] mlueckel opened #166 "github connection"
Hi Tim,

thanks for the great tool!

However, I don't seem to be able to properly login/connect with my github. Whenever I try to login, I am redirected to the main page. And when trying so save the workflow, an error occurs ("Sorry, something went wrong there..."). Any idea why that is?

-Max